#all {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
	height: 950px;	
}

#left {
	float: left;
	margin-left: 78px;
	margin-top: 65px;
	width: 225px;
}

#left_top {
	width: 100%;
	height: 83px;
	position: relative;
	z-index: 99;
	background-image: url(../../images/nculife/item_img.png);
	background-position: 3px 0px;
}

#place {
	width: 100%;
	height: 715px;
	overflow: auto;
	margin-top: -10px;
	outline: none;
}

.place {
	width: 100%;
	height: 155px;
	font-size: 25px;
	font-family: "微軟正黑體";
	text-align: center;
	padding: 35px;
	margin-bottom: -15px;
	background-image: url(../../images/nculife/item_img.png);
	background-position: 3px -93px;
	cursor: pointer;
}

.place:hover {
	width: 100%;
	height: 155px;
	font-size: 25px;
	font-family: "微軟正黑體";
	font-weight: bold;
	text-align: center;
	padding: 35px;
	margin-bottom: -15px;
	background-image: url(../../images/nculife/item_img.png);
	background-position: 0px -256px;
}

.placeClick {
	background-image: url(../../images/nculife/item_img.png);
	background-position: 0px -256px;
}

#left_bottom {
	width: 100%;
	height: 88px;
	margin-top: -15px;
	position: relative;
	background-image: url(../../images/nculife/item_img.png);
	background-position: 3px -448px;
}

#right {
	float: left;
	width: 636px;
	height: 865px;
	margin-left: 30px;
	margin-top: 63px;
}

#introduction {
	width: 636px;
	height: 359px;
	font-size: 20px;
	font-family: "微軟正黑體";
	padding: 20px 30px;
	background-image: url(../../images/nculife/item_img.png);
	background-position: -224px 0px;
}

#introductionbox {
	width: 550px;
	height: 250px;
	margin-top: 2px;
	margin-left: 10px;
	overflow: auto;
	outline: none;
}

#introductionbox2 {
	width: 550px;
}

#picture {
	width: 636px;
	height: 527px;
	margin-top: -25px;
	overflow: hidden;
	background-image: url(../../images/nculife/item_img.png);
	background-position: -224px -448px;
}

#picture_select {
	width: 100%;
	height: 50px;
	position: relative;
	top: 349px;
	left: 55px;
	z-index: 999;
}

.select {
	width: 29px;
	height: 16px;
	position: relative;
	top: 50px;
	left: 30px;
	background-image: url(../../images/nculife/item_img.png);
	background-position: 0px -608px;
	display: inline-block;
	cursor: pointer;
}

#select1 {
	background-image: url(../../images/nculife/item_img.png);
	background-position: -64px -608px;
}

#img {
	margin-top: -15px;
	position: relative;
	top: -50px;
}

.img {
	width: 550px;
	height: 411px;
	margin-top: 45px;
	margin-left: 43px;
}

#containment {
	width: 1020px;
	height: 720px;
	position: relative;
	bottom: 555px;
	right: 193px;
	z-index: -1;
}

#select {
	height: 50px;
	margin-top: -65px;
	z-index: 999;
}

#buttom {
	height: 30px;
	width: 150px;
	margin-top: 1%;
	margin-left: 40%;
	cursor: pointer;
	background-image: url(../../images/nculife/item_img.png);
	background-position: 0px -544px;
}

.jspVerticalBar {
	opacity: 0;
	-o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    transition:  opacity 1s linear;
}

.jspVerticalBar:hover {
	opacity: 1;
	-o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    transition:  opacity 1s linear;
}

img.ui-state-disabled.ui-draggable-disabled { opacity : 1;}