/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

/public/img/uploadImage/*

.idea/

_ide_helper.php
_ide_helper_models.php

/app/storage/debugbar

app/config/database.php
