
#morecontent{

	margin-left:925px;
	margin-top:-801px; 
	width:7%;
	height:615px;
}
#photo{
	position: absolute;
	top:467px;
	left:192px;
	width:5%;
	height:610px;
}
#page1{
	width:932px;
	margin-top:69px;
	margin-left: -1px;
	height:800px;
}
#page2{
	visibility: hidden;
	width: 7%;
	margin-top:-803px; 
	margin-left: 918px;
	float: left;
	height:762px;
}
#content{
	width: 100%;
	height: 867px;
	
}
/*modal*/
.photo{
	background-color:#33CCFF;
	position: absolute;
	top: 200px;
	left: 200px;
	width: 550px;
	height: 400px;
}
.team{
	background-color:#333366;
	position: absolute;
	top:500px;
	left: 700px;
	width: 50px;
	height: 100px;

}
.teamintro{
	background-color:#990033;
	position: absolute;
	top: 500px;
	left: 200px;
	width: 550px;
	height: 80px;
}
#code{
	position: absolute;
	margin-top:-723px;
	margin-left: 225px; 
}
#operate{
	position: absolute;
	margin-top:430px;
	margin-left: 463px;  
}
#project{
	position: absolute;
	margin-top:-723px;
	margin-left: 235px;  
}
#movie{
	position: absolute;
	margin-top:-582px;
	margin-left: 659px;  
}
#draw{
	position: absolute;
	margin-top:-723px;
	margin-left: 245px; 
}
#back{
	position: absolute;
	margin-top:-723px;
	margin-left: 221px; 
}
.modal-lg{
	width: 1000px; !important
}

#carousel-example-generic{
	width: 600px;  !important
}

.a img{
	height: 200px;
	width: 200px;
	margin: 5px;
}
#scroll{
	overflow: scroll;
	height: 600px;
	width: 300px;
	overflow-x:hidden;
	position: absolute;
	top: 19px;
	left: 646px;
	margin: 10px;

}

#scroll::-webkit-scrollbar {
    width: 12px;
}
 
#scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
    border-radius: 10px;
}
 
#scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 

}

li{
    list-style-type: none;
}
.photointro{
	width: 600px;
	height:50px;
	position: relative;
	top:35px;
	left:0px;
	background-color:#990033;
	margin: 10px;

}