#about-content {
	width: 1004px;
	height: 986px;;
	margin: 10px;
	/*background: blue;*/
	overflow: hidden;
	position: relative;
}

#page1 {
	position: absolute;
	width: 930px;
	height: 1017px;
	background: url("../images/aboutus/page1.png") no-repeat;
	float: left;
	margin-left: -21;
	overflow: hidden;
	display: inline;
}

#page1-content {
	width: 771px;
	height: 525px;
	/*background: white;*/
	margin: 140px 0px 0px 90px;
}

#page1-photo {
	width: 640px;
	height: 425px;
	background: yellow;
	margin: 0px auto;
	background: url("../images/aboutus/team/DSC05558.jpg") no-repeat;
	background-size: 100%;
}

#page1-text {
	font-family: "微軟正黑體", "Microsoft JhengHei";
	font-size: 18px;
	width: 640px;
	margin: 0px auto;
}

#page2 {
	position: absolute;
	width: 0px;/*1036*/
	height: 986px;
	background: url("../images/aboutus/page2.png") no-repeat;
	float: right;
	overflow: hidden;
	left: 1103px;
}

#button1 {
	position: absolute;
	width: 95px;
	height: 779px;
	background: url("../images/aboutus/morecontent.png") no-repeat;
	float: left;
	left: 909px;
}

#button1:hover {
	background: url("../images/aboutus/morecontent-p.png") no-repeat;
	cursor: pointer;
}

#button2 {
	position: absolute;
	width: 99px;
	height: 787px;
	float: left;
	margin-right: -99px;
	left: 1004px;
	z-index: 5;
}

#button2-image {
	position: absolute;
	width: 99px;
	height: 787px;
	background: url("../images/aboutus/photo.png") no-repeat;
	float: left;
	margin-right: -99px;
	left: 1004px;
	z-index: 0;
}

#page2-content {
	position: relative;
	width: 770px;
	height: 670px;
	top: 50px;
	left: 206px;
}

.items {
	position: absolute;
}

.items:hover {
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

#photos {
	width: 231px;
	height: 239px;
	top: 50px;
	left: 50px;
	background: url("../images/aboutus/back.png") no-repeat;
}

#photos:hover {
	background: url("../images/aboutus/back-p.png") no-repeat;
	cursor: pointer;
}

#execute {
	width: 281px;
	height: 288px;
	top: 340px;
	left: 275px;
	background: url("../images/aboutus/operate.png") no-repeat;
}

#execute:hover {
	background: url("../images/aboutus/operate-p.png") no-repeat;
	cursor: pointer;
}

#Design {
	width: 244px;
	height: 248px;
	top: 124px;
	left: 241px;
	background: url("../images/aboutus/draw.png") no-repeat;
}

#Design:hover {
	background: url("../images/aboutus/draw-p.png") no-repeat;
	cursor: pointer;
}

#Media {
	width: 171px;
	height: 174px;
	top: 325px;
	left: 532px;
	background: url("../images/aboutus/movie.png") no-repeat;
}

#Media:hover {
	background: url("../images/aboutus/movie-p.png") no-repeat;
	cursor: pointer;
}

#Program {
	width: 186px;
	height: 181px;
	top: 129px;
	left: 482px;
	background: url("../images/aboutus/code.png") no-repeat;
}

#Program:hover {
	background: url("../images/aboutus/code-p.png") no-repeat;
	cursor: pointer;
}

#Project {
	width: 168px;
	height: 167px;
	top: 408px;
	left: 122px;
	background: url("../images/aboutus/project.png") no-repeat;
}

#Project:hover {
	background: url("../images/aboutus/project-p.png") no-repeat;
	cursor: pointer;
}

.contents {
	display: none;
	position: absolute;
	top: 107px;
	left: 195px;
	z-index: 3;
}

#photos-back {
	width: 802px;
	height: 574px;
	background: url("../images/aboutus/back_menu.png") no-repeat;
}

#execute-back {
	width: 790px;
	height: 576px;
	background: url("../images/aboutus/operate_menu.png") no-repeat;
}

#Design-back {
	width: 814px;
	height: 591px;
	background: url("../images/aboutus/draw_menu.png") no-repeat;
}

#Media-back {
	width: 802px;
	height: 588px;
	background: url("../images/aboutus/movie_menu.png") no-repeat;
}

#Program-back {
	width: 790px;
	height: 577px;
	background: url("../images/aboutus/code_menu.png") no-repeat;
}

#Project-back {
	width: 802px;
	height: 574px;
	background: url("../images/aboutus/project_menu.png") no-repeat;
}

.content-close {
	width: 46px;
	height: 46px;
	margin-left: 735px;
	margin-top: 10px;
	background: url("../images/aboutus/close.png") no-repeat;
}

.content-close:hover {
	background: url("../images/aboutus/close-p.png") no-repeat;
	cursor: pointer;
}

.each-content {
	width: 750px;
	height: 476px;
	margin: 29px auto;
}

.each-photo {
	width: 540px;
	height: 360px;
	margin: 0px auto;
}

.team-photo {
	width: 540px;
	height: 360px;
}

.each-words {
	width: 475px;
	height: 110px;
	margin: 10px;
	font-family: "微軟正黑體", "Microsoft JhengHei";
	font-size: 18px;
	/*color: white;*/
	font-weight: bold;
	margin-left: 103px;
}

#display-photo {
	width: 640px;
	height: 360px;
	margin: 10px auto;
}

#display-photo-img {
	margin: 0px auto;
	height: 360px;
	position: relative;
	display: block;
}
#prelook {
	width: 100%;
	height: 108px;
}


#left-button {
	width: 37px;
	height: 54px;
	float: left;
	margin-top: 25px;
	background: url("../images/aboutus/lbotton.png") no-repeat;
}

#left-button:hover {
	background: url("../images/aboutus/lbotton-p.png") no-repeat;
}

#prelook-box {
	width: 675px;
	height: 108px;
	background: yellow;
	margin: 0px auto;
	float: left;
	overflow: hidden;
	position: relative;
}

#prelook-inbox {
	position: absolute;
	background: white;
	width: 2558px;//-675
	height: 108px;
	padding: 9px;
}

#right-button {
	width: 37px;
	height: 54px;
	float: left;
	margin-top: 25px;
	background: url("../images/aboutus/rbotton.png") no-repeat;
}

#right-button:hover {
	background: url("../images/aboutus/rbotton-p.png") no-repeat;
}

.prelook-photos {
	
	height: 90px;
	background: blue;
}
