#title{
	background-color:#66FF99;
	width: 150px;
	height: 50px;
	position: absolute;
	top: 286px;
	left: 280px;
}
#picture{
	background-color:#FF9900;
	width:850px;
	height:500px;
	float: left;
	position: absolute;
	top:468px;
	left:203px;
}
#introduction{
	background-color:#33CCFF;
	width:850px;
	height:60px;
	position: absolute;
	top:994px;
	left:209px;
}
#morecontent{
	background-color:#333366;
	position: absolute;
	top:435px;
	left:1081px;
	width:5%;
	height:560px;
}
#content{
	width: 100%;
	height: 700px;
	background-color:#990033;
}
/*modal*/
.photo{
	background-color:#33CCFF;
	position: absolute;
	top: 200px;
	left: 200px;
	width: 550px;
	height: 400px;
}
.team{
	background-color:#333366;
	position: absolute;
	top:500px;
	left: 700px;
	width: 50px;
	height: 100px;

}
.teamintro{
	background-color:#990033;
	position: absolute;
	top: 500px;
	left: 200px;
	width: 550px;
	height: 80px;
}

.items{
	background-color:#FF9900;
	width: 50px;
	height: 15px;
	z-index: 3;
	margin: 10px;
}
.modal-lg{
	width: 1000px; !important
}

#carousel-example-generic{
	width: 600px;  !important
}

.a img{
	height: 200px;
	width: 200px;
	margin: 5px;
}
#scroll{
	overflow: scroll;
	height: 600px;
	width: 300px;
	overflow-x:hidden;
	position: absolute;
	top: 19px;
	left: 646px;
	margin: 10px;

}

#scroll::-webkit-scrollbar {
    width: 12px;
}
 
#scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
    border-radius: 10px;
}
 
#scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 

}

li{
    list-style-type: none;
}
.photointro{
	width: 600px;
	height:50px;
	position: relative;
	top:35px;
	left:0px;
	background-color:#990033;
	margin: 10px;

}