/* Defined CSS Style for Forum */
#createBtn{
	position:relative;
	left: 88%;
	top: -10px;
}
#createForm{
	padding: 10px 20px 0px 20px;
}
#inputTitle{
	width: 55%;
}
#inputAuthor_id{
	width: 55%;
}
#selectType{
	width: 55%;
}
#formTitleContainer,#formAuthorIDContainer,#formArticleTypeContainer {
	margin-bottom: 5px;
}
.articlePostTime{
	position: relative;
	display: table;
	float: right;
	margin-top: 2%;
	margin-right: 15;
}
.personalImage{
	width: 80;
	margin: 10;
	border: 1px solid #D4D4CA;
	border-radius: 10;
	float: left;
}
.content{
	word-break: break-all;
	width: 910;
	float: left;
	position: relative;
}
.clear{
	clear:both;
}
.articleContainer{
	border-radius: 5px;
	margin-bottom: 10px;
}
.arrow{
	text-align: center;
}
.panel-title{
	font-size: 25px;
	color: #458FFF;
}
.author{
	color: #458FFF;
	font-size: 17px;
}
#orderBox{
	display:table;
	position:relative;
	left: 71%;
	top: 17px;
}
.responseContainer{
	display:none;
}
.moreBox{
	position: relative;
	top: 22px;
}
.articleBody{
	margin-bottom: 10px;
}
textarea.commentTextArea{
	height: 5em;
}
.createComment{
	position: relative;
	top: -2px;
	left: 85%;
}
.articleContainer{
	padding: 2px;
}
.commenterID{
	margin-bottom: 5px;
	width: 17%;
}
/* the comment under each Articles */
.commentAuthorId{
	font-weight: 800;
	margin-left: 5px;
}
.commentContent{
	display: block;
	margin-left: 15px;
	width: 95%;
	word-break: break-word;
}
.commentTime{
	position: relative;
	float: right;
	top: -20px;
	right: 10px;	
}
.edit{
	position: relative;
	float: right;
	top: -15px;
	right: 10px;
}
.editArea{
	word-break:break-word; 
}
.delBtn{
	position: relative;
	float: right;
	bottom: 5px;
}
.saveBtn{
	position: relative;
	float: right;
	top: 5px;
}
.canBtn{
	position: relative;
	float: right;
	top: 5px;
	right: 5px;
}
#currentPage{
	position: relative;
	font-weight: 800;
	color: #3E5AAF;
	top: 45px;
	left: 370px;
}
#totalPage{
	position: relative;
	font-weight: 800;
	color: #3E5AAF;
	top: -47px;
	left: 610px;
}





























