/* Defined CSS Style for Forum */
#createForm{
	padding: 10px 20px 0px 20px;
}
#inputTitle{
	width: 55%;
}
#inputAuthor_id{
	width: 55%;
}
#selectType{
	width: 55%;
}
#formTitleContainer,#formAuthorIDContainer,#formArticleTypeContainer {
	margin-bottom: 5px;
}
.articlePostTime{
	position: relative;
	display: table;
	float: right;
	margin-top: 2%;
	margin-right: 15px;
}
.personalImage{
	width: 80px;
	height: 80px
	margin: 10;
	border: 1px solid #D4D4CA;
	border-radius: 10;
	float: left;
}
.content{
	word-break: break-all;
	width: 910px;
	float: left;
	position: relative;
}
.clear{
	clear:both;
}
.articleContainer{
	border-radius: 5px;
	margin-bottom: 10px;
}
.arrow{
	text-align: center;
}
.panel-title{
	font-size: 25px;
	color: #FFFFFF;
	text-decoration: none;
}
.author{
	color: #FFFFFF;
	font-size: 17px;
}
#orderBox{
	display:table;
	position:relative;
	left: 69%;
	top: 37px;
	border: 0px;
}
.responseContainer{
	display:none;
}
.moreBox{
	position: relative;
	top: 22px;
}
.articleBody{
	margin-bottom: 10px;
}
textarea.commentTextArea{
	height: 5em;
}
.createComment{
	position: relative;
	top: -2px;
	left: 85%;
}
.articleContainer{
	padding: 2px;
}
.commenterID{
	margin-bottom: 5px;
	width: 17%;
}
/* the comment under each Articles */
.commentAuthorId{
	font-weight: 800;
	margin-left: 5px;
}
.commentContent{
	display: block;
	margin-left: 15px;
	width: 95%;
	word-break: break-word;
}
.commentTime{
	position: relative;
	float: right;
	top: -20px;
	right: 10px;	
}
.edit{
	position: relative;
	float: right;
	top: -15px;
	right: 10px;
}
.editArea{
	word-break:break-word; 
}
.delBtn{
	position: relative;
	float: right;
	bottom: 5px;
}
.saveBtn{
	position: relative;
	float: right;
	top: 5px;
}
.canBtn{
	position: relative;
	float: right;
	top: 5px;
	right: 5px;
}
#currentPage{
	position: relative;
	font-weight: 800;
	color: #3E5AAF;
	top: 45px;
	left: 370px;
}
#totalPage{
	position: relative;
	font-weight: 800;
	color: #3E5AAF;
	top: -47px;
	left: 610px;
}
#scrollTop{
	position: fixed;
	width: 80px;
	height: 50px;
	bottom: 310px;
	left: 17px;
	background-image: url(../images/forum/forum_button.png);
	background-position: 0px -128px;
}

#scrollTop:hover{
	background-position: 0px -192px;
	cursor: pointer;
}


#myTab li{
	background-color: #666666;
}

#myTab{
	background-color: #666666;
	height: 43px;
}
.nav-tabs>li>a {
	border-radius: 0px 0px 0px 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color:#668ECC;
	border: 1px solid #668ECC;
	margin-right: 0px;
	color: #FFFFFF;
}
.nav-tabs>li>a{
	margin-right: 0px;
	color: #FFFFFF;
}
.nav-tabs>li>a:hover{
	background-color:#668ECC;
	margin-right: 0px;
	border: 1px solid #668ECC;
	color: #FFFFFF;
}
.forumTitleBox{
	background-image: url(../images/forum/forum_title.png);
	background-position: 0px 0px;
}
.departmentTitleBox{
	background-image: url(../images/forum/forum_title.png);
	background-position: 0px -64px;
}
.clubTitleBox{
	background-image: url(../images/forum/forum_title.png);
	background-position: 0px -128px;
}
.modal-content{
	border-style: solid;
	border-width: 5px;
	border-color: #666666 #4C4C4C;
}
#createBtn{
	background-image: url(../images/forum/forum_button.png);
	background-position: 0px 0px;
	width: 150px;
	height: 61px;
	position:relative;
	left: 85%;
	top: -10px;
	background-color: transparent;
	border-color: transparent;

}
#createBtn:hover{
	background-position: 0px -64px;
}
.pager li>a:hover{
	cursor: pointer;
}




