#gameContainer {
	width: 100%;
	background: blue;
	padding: 10px;
}

#userInfo {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	padding: 10px;
	background-color: green;
}

#gameMain {
	width: 100%;
	padding: 10px;
	background-color: black;
}

#gameMenu {
	width: 100%;
	height: 330px;
	background-color: yellow;
}

.gameChoose {
	width: 482px;
	height: 145px;
	margin: 5px;
	background-color: white;
	float: left;
}

#gameShop {
	float: left;
	width: 100px;
	hegiht: 100%;
	background-color: red;
	margin: 0px 10px 0px 0px;
}

#gameRoom {
	float: left;
	width: 100px;
	hegiht: 100%;
	background-color: lightblue;
	margin: 0px 10px 0px 0px;
}

.gameInfoText {
	float: left;
	margin: 0px 10px 0px 0px;
}

#gameDestinyContainer {
	width: 100%;
	height: 310px;
	background-color: yellow;
}

#gameDestiny_left {
	float: left;
	width: 487px;
	height: 100%;
	margin: 0px 10px 0px 0px;
	background-color: white;
	position: relative;
}

#gameDestiny_right {
	float: left;
	width: 487px;
	height: 100%;
	background-color: white;
	position: relative;
}

#rotate_table {
	top: 35px;
	left: 168px;
	width: 150px;
	height: 150px;
	position: absolute;
	background-color: blue;
}

#rotate_foot {
	width: 100px;
	height: 200px;
	top: 110px;
	left: 192px;
	position: absolute ;
	background-color: rgba(0, 0, 0, 0.4);
}

#destinyStart {
	top: 100px;
	left: 100px;
	width: 75px;
	height: 50px;
	padding: 10px;
	background-color: blue;
	position: absolute;
}

#bounsPage {
	display: none;
}
/*

gameCampus

*/
#gameCampusContainer {
	width: 100%;
	height: 570px;
	padding: 10px;
	background-color: yellow;
}

#gameCampusMap {
	display: none;
	position: relative;
}

.gameCampusType {
	display: none;
}

#gameCampusQuestion {
	width: 100%;
	height: 50px;
	margin: 460px auto 0px auto;
	background-color: white;
	position: absolute;
	padding: 10px;
}

.gameCampusBuilding {
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
}

#gameCampusInfo {
	display: none;
}

#gameCampusEnd {
	display: none;
}

#gameCampusAgain {
	width: 50px;
	height: 50px;
	background-color: white;
}

/*

gameShop

*/
#gameShopContainer {
	width: 100%;
	height: 300px;
	padding: 10px;
	background-color: yellow;
}

#characterLook {
	float: left;
	width: 200px;
	height: 100%;
	padding: 10px;
	background-color: black;
	margin: 0px 10px 0px 0px;
	position: relative;
}

#gameShopBox {
	float: left;
	width: 754px;
	height: 100%;
	padding: 10px;
	background-color: lightblue;
	position: relative;
}

#gameShopBar {
	width: 100%;
	height: 30px;
	padding-left: 12px;
	background-color: red;
}

.gameShopTypeButton {
	float: left;
	width: 110px;
	height: 100%;
	margin: 0px 10px 0px 0px;
	background-color: yellow;
	text-align: center;
}

#gameShopItems {
	width: 97.4%;
	min-height: 230px;
	padding-left: 10px;
	background-color: blue;
	position: absolute;
}

.gameShopItem {
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px 40px 0px 40px;
	background-color: black;
	position: relative;
}

.gameShopItemText {
	position: absolute;
	width: 100%;
	height: 20px;
	background-color: yellow;
	text-align: center;
}

.gameShopItemImage {
	width: 100%;
	height: 100px;
	position: absolute;
}

.gameShopItemBuyButton {
	position: absolute;
	background-color: green;
	width: 100%;
	height: 20px;
	margin-top: 80px;
	text-align: center;
}

#itemHadBuy {
	background-color: lightblue;
}

#characterEquipButton {
	width: 100px;
	height: 20px;
	margin: 220px auto 0px auto;
	background-color: yellow;
	position: relative;

}

#characterReturnButton {
	width: 100px;
	height: 20px;
	margin: 0px auto 0px auto;
	background-color: yellow;
	position: relative;

}

.character {
	position: absolute;
	width: 180px;
	height: 260px;
}

#characterHead {
	background-color: rgba(255, 0, 0, 0.4);
	

}

#characterFace {
	background-color: rgba(255, 255, 0, 0.4);
}

#characterBody {
	background-color: rgba(255, 255, 255, 0.4);
}

#characterFoot {
	background-color: rgba(0, 255, 0, 0.4);
}

#characterItem {
	background-color: rgba(0, 255, 255, 0.4);
}

#characterMap {
	background-color: rgba(0, 0, 0, 0.4);
}

