#cover
{
	width: 100%;
	height: 900px;
}

.choice
{
	width:100%;
	height:900px;
	background-color:#FFFFCC;
	margin-top:33px;
}


#difficulty1
{
	width :20%;
	margin-top:33px;
	background-color:#00FF00;
	float:left;

}
#difficulty2
{
	width :20%;
	margin-top:133px;
	background-color:#00FF00;
	float:left;
}
#difficulty3
{
	width :20%;
	margin-top:233px;
	background-color:#00FF00;
	float:left;
}

#mode1
{
	width :20%;
	margin-top:33px;
	background-color:#00FFCC;
	float:left;
}
#mode2
{
	width :20%;
	margin-top:133px;
	background-color:#00FFCC;
	float:left;
}
#mode3
{
	width :20%;
	margin-top:233px;
	background-color:#00FFCC;
	float:left;
}

#content 
{
	display: none;
}
#snakeContent 
{
	width: 100%;
	height: 900px;
	background-color: lightblue;
	position: relative;
}

.block
{
	border: 1px gray solid;
	width: 35px;
	height: 32px;
}

