#cover
{
	width: 100%;
	height: 900px;
	background-color:lightblue;
}

#title
{
	width:50%;
	height:15%;
	margin-left:25%;
	margin-bottom:10%;
	background-color:lightgreen;
}

.choice
{
	width:100%;
	height:700px;
	margin-top:10%;
}

/*//////////////////////////////////////////////////////////////////////*/
.Difficult
{
	float:left;
	width:50%;
	background-color:white;
}

#difficulty1
{
	width:45%;
	height:10%;
	margin-top:10%;
	background-color:yellow;
}
#difficulty2
{
	width:45%;
	height:10%;
	margin-top:20%;
	background-color:orange;
}
#difficulty3
{
	width:45%;
	height:10%;
	margin-top:20%;
	margin-bottom:10%;
	background-color:red;
}

/*////////////////////////	float:left; //////////////////////////////////////////////*/
.Mode
{
	float:left;
	width:50%;
	background-color:blue;
}
#mode1
{
	width:45%;
	height:10%;
	margin-top:10%;
	background-color:yellow;
}
#mode2
{
	width:45%;
	height:10%;
	margin-top:20%;
	background-color:orange;
}
#mode3
{
	width:45%;
	height:10%;
	margin-top:20%;
	margin-bottom:10%;
	background-color:red;
}
/*////////////////////////	float:left; //////////////////////////////////////////////*/
#start
{
	width:40%;
	height:10%;
	margin-bottom:10%;
	background-color:yellow;
}

/*////////////////////////	float:left; //////////////////////////////////////////////*/
#content 
{
	display: none;
}
#snakeContent 
{
	width: 100%;
	height: 900px;
	background-color: lightblue;
	position: relative;
}

.block
{
	border: 1px gray solid;
	width: 35px;
	height: 28px;
}

