body {
	overflow: hidden;
}

#contentContainer {
	width: 100%;

}

#contentLeft {
	width: 23%;
	height: 720px;
	padding: 10px;
	float: left;
}

#contentRight {
	width: 77%;
	height: 720px;
	padding: 10px 10px 10px 0px;
	float: left;
}

#calender {
	width: 200px;
	height: 350px;
	padding: 10px;
}

#links {
	width: 200px;
	height: 350px;
	padding: 10px;
}

#announcements {
	width: 100%;
	height: 300px;
	padding: 10px;
}

#forum {
	width: 70%;
	height: 400px;
	float: left;
	padding: 10px;
}

#vedio {
	width: 30%;
	height: 400px;
	float: left;
	padding: 10px;
}

#chat-room {
	width: 200px;
	position: absolute;
	top: 100px;
	right: -175px;
}

#chat-room .container {
	width: 175px;
	background-color: yellow;
	padding: 10px;
	float: left;
}

#chat-room-button {
	background-color: red;
	width: 25px;
	height: 150px;
	float: left;
}

#chat-log {
	width: 100%;
	min-height: 300px;
	background-color: white;
}

.chat-row {
	background-color: gray;
}

#chat-input {
	top: 10px;
	margin: 0px auto;
	position: relative;
}