#contentContainer {
	width: 100%;
	height: 910px;
	background-color: rgba(200,200,200,0.6);
}

#contentLeft {
	width: 248px;
	height: 720px;
	padding: 10px;
	float: left;
	margin-left: 5px;
}

#contentRight {
	width: 720px;
	height: 720px;
	padding: 10px 10px 10px 0px;
	float: left;
}

#calender {
	width: 228px;
	height: 500px;
	margin-top: 23px;
}

#calenderTop {
	width: 228px;
	height: 233px;
	background: url("../images/index/calendertop.png") no-repeat;
	padding-top: 32px;
	padding-left: 51px;
	color: #7b7b7b;
}

#calenderContent {
	width: 200px;
	height: 122px;
	margin-left: 28px;
	background: url("../images/index/calendermid.png") repeat-y;
}

#calenderBottom {
	width: 200px;
	height: 19px;
	margin-left: 28px;
	background: url("../images/index/calenderbottom.png") no-repeat;
}

#calender-top-content{
	width: 155px;
	padding-top: 15px;
}
.calender-num{
	text-align: center;
	width: 100%;
}

#calender-month{
	margin-top: 4px;
}

#calender-month-day{
	margin-top: 17px;
}

.calender-row{
	width: 140px;
	cursor: pointer;
}

.calender-row:hover{
	color: #d3d3d3;
}

#links {
	width: 200px;
	margin-left: 28px;
	margin-top: 10px;
	background-color: #0aadd6;
	color: #b9f1ff;
}

#linkTop{
	background: url("../images/index/linktop.png");
	width: 200px;
	height: 40px;
	padding-left: 10px;
	padding-top: 5px;
}

#linkContent {
	width: 100%;
	height: 250px;
	padding: 10px;
}

#linkBottom {
	background: url("../images/index/link.png") no-repeat;
	width: 200px;
	height: 63px;
}

#link-ul{
	list-style-image: url("../images/index/linklist.png");
}

#link-ul>li>a{
	color: #b9f1ff;
}



#link-ul>li>a:hover{
	color: white;
}

#board {
	width: 700px;
	margin-left: 30px;
	position: relative;
}

#boardTop {
	background: url("../images/index/boardtop.png") no-repeat;
	width: 700px;
	height: 164px;
	padding-top: 70px;
	padding-left: 30px;
	color: #864500;
}

#boardMid {
	background: url("../images/index/boardmid.png") repeat-y;
	width: 700px;
	height: 188px;
}

#boardBottom {
	background: url("../images/index/boardbottom.png") no-repeat;
	width: 700px;
	height: 114px;
}

#boardContent {
	position: absolute;
	width: 610px;
	height: 310px;
	top: 100px;
	left: 45px;
	font-size: medium;
}

.announcement-row{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

.announcement-row:hover{
	background-color: rgb(254, 219, 95);
}

#forum {
	width: 450px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}


#forumTop {
	background: url("../images/index/forumtop.png") no-repeat;
	width: 450px;
	height: 43px;
	padding-top: 12px;
	padding-left: 26px;
	color: #7b7b7b;
}

#forumContent {
	background: #ffffff;
	width: 450px;
	height: 252px;

}

#forumBottom {
	background: url("../images/index/forumbottom.png") no-repeat;
	width: 450px;
	height: 86px;
}

#vedio {
	width: 220px;
	float: left;
	padding-top: 30px;
	padding-left: 30px;
}

#vedioTop {
	background: url("../images/index/videotop.png") no-repeat;
	width: 220px;
	height: 41px;
	padding-top: 12px;
	padding-left: 15px;
	color: #ffc4e4;
}

#vedioContent {
	background: #dc2a8a;
	width: 220px;
	height: 300px;
	padding: 10px;
}

#vedioBottom {
	background: url("../images/index/videobottom.png") no-repeat;
	width: 220px;
	height: 40px;
}

body{
	font-family: 'Microsoft JhengHei';
}


.textStyle {
	/*font:  bold 5pt arial,sans-serif;*/
	font-family: 'Microsoft JhengHei';
	font-size: 16pt;
	font-weight: bold;
}

#videoHref{
	position: relative;
	left: -10px;
	width:220px;
}