body {
	background-image: url('../images/layout/background.png');
}

#siteMapContainer {
	background-color: rgba(200,200,200,1);
}

#chat-room-container {
	width: 45px;
	height: 360px;
	position: fixed;
	top: 100px;
	right: 0px;
}

#chat-room {
	width: 275px;
	position: absolute;
	right: -230px;
}

#chat-room .container {
	width: 230px;
	float: left;
}

#chat-room-button {
	background: url('../images/layout/chatroom/clickme.png') no-repeat;
	width: 45px;
	height: 152px;
	float: left;
}

#chat-log-top {
	width: 230px;
	height: 30px;
	background: url('../images/layout/chatroom/boxHead.png') no-repeat;
	margin-left: 45px;
}

#chat-log {
	width: 230px;
	height: 300px;
	background: url('../images/layout/chatroom/boxMiddle.png') repeat-y;
	margin-left: 45px;
	margin-top: -17px;
	padding: 0px 12px 0px 13px;
	overflow: auto;
}

.chat-row {
	background-color: rgba(230, 230, 230, 0.4);
}

#chat-input {
	position: relative;
	background: url('../images/layout/chatroom/input.png') no-repeat;
	margin-left: 45px;
	height: 64px;
}

#chat-message {
	margin-top: 12px;
	margin-left: 12px;
	width: 206px;
	height: 39px;
}

#globalContainer{
	width: 1024px;
	margin: 0 auto;
	padding: 0px;
}

#topContainer{
	width: 100%;
	height: 286px;
	margin: 20px auto;
}

#topContent {
	width: 100%;
	height: 100%;
	position: relative;
}

#topLeft{
	width: 250px;
	height: 100%;
}

#topMiddle{
	width: 574px;
	height: 100%;
	padding: 10px;
	float: left;
}

#topRight{
	width: 200px;
	height: 250px;
	float: right;
	padding-right: 10px;
}

#topLogo{
	position: absolute;
	width: 286px;
	height: 286px;
	/*top: -20px;
	left: 1px;*/
	background: url("../images/layout/logo.png") no-repeat;
	background-size: 100%;
	border-radius: 50%;
	float: left;
	z-index: 2;
}

#topSearchBar{
	width: 300px;
	height: 30px;
	/*margin: 0 auto;*/
	background-color: white;
}

.topNavBarButton {
	width: 57px;
	height: 157px;
	float: left;
	margin-left: 20px;
	margin-top: 50px;
}

#topNavBarLife {
	background-image: url("../images/layout/nculife.png");
	margin-left: 80px;
}

#topNavBarLife:hover {
	background-image: url("../images/layout/nculife2.png");
	margin-left: 80px;
}

#topNavBarFourm {
	background-image: url("../images/layout/forum.png");
}

#topNavBarFourm:hover {
	background-image: url("../images/layout/forum2.png");
}

#topNavBarRead {
	background-image: url("../images/layout/read.png");
}

#topNavBarRead:hover {
	background-image: url("../images/layout/read2.png");
}

#topNavBarCampus {
	background-image: url("../images/layout/campus.png");
}

#topNavBarCampus:hover {
	background-image: url("../images/layout/campus2.png");
}

#topNavBarVideo {
	background-image: url("../images/layout/video.png");
}

#topNavBarVideo:hover {
	background-image: url("../images/layout/video2.png");
}

#topNavBarAbout {
	background-image: url("../images/layout/about.png");
}

#topNavBarAbout:hover {
	background-image: url("../images/layout/about2.png");
}


#topNavBar{
	width: 100%;
	height: 207px;
	margin: 10px auto;
}

#topLoginBar{
	width: 100%;
	height: 100%;
}

#container{
	width: 100%;
	min-height: 400px;
	padding: 0px;
	background-color: rgba(200,200,200,0.6);
}

#topBackground {
	background: url("../images/layout/topback.png") no-repeat;
	background-size: 100%;
	width: 788px;
	height: 250px;
	position: absolute;
	top: 18px;
	left: 236px;
}

#topUserButton {
	width: 102px;
	height: 120px;
	position: absolute;
	top: 44px;
	left: 44px;
}

#auth_person {
	width: 102px;
	height: 120px;
}

#auth_name {
	top: 170px;
	position: absolute;
	left: 67px;
	text-align: center;
	font-family: "微軟正黑體", "Microsoft JhengHei";
	font-size: 20px;
	color: white;
	font-weight: bold;
}

#bottomContainer{
	text-align: center;
	width: 100%;
}

#topContainer>div{
	float: left;
}

#auth_box {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#auth_logined {
	width: 100%;
	height: 100%;
	margin-top: 10px;
	background: url("../images/layout/facebox2.png") no-repeat;
	background-size: 100%;
	position: relative;
}

#logoutButton {
	width: 79px;
	height: 22px;
	background: url("../images/layout/logout.png") no-repeat;
	background-size: 100%;
	position: absolute;
}

#logoutButton:hover {
	width: 79px;
	height: 22px;
	background: url("../images/layout/logoutClick.png") no-repeat;
	background-size: 100%;
	position: absolute;
}

#auth_nolgin {
	width: 100%;
	height: 100%;
	margin-top: 10px;
	background: url("../images/layout/facebox.png") no-repeat;
	background-size: 100%;
}

#auth_box input {
	width:50%;
}

#auth_box #account {
	width: 50%;
	height: 8%;
	left: 25%;
	top: 47px;
	position: relative;
	background-color: #D6D6D6;
	border: 0px;
	border-radius: 5px;
}

#auth_box #password {
	width: 50%;
	height: 8%;
	left: 25%;
	top: 50px;
	position: relative;
	background-color: #D6D6D6;
	border: 0px;
	border-radius: 5px;
}

#auth_box #submit {
	width: 26%;
	height: 9%;
	left: 29%;
	top: 54px;
	position: relative;
	background: url("../images/layout/login1.png") no-repeat;
	background-size: 100%;
	border: 0px;
	float: left;
}

#auth_box #submit:hover {
	width: 26%;
	height: 9%;
	left: 29%;
	top: 54px;
	position: relative;
	background: url("../images/layout/login2.png") no-repeat;
	background-size: 100%;
	border: 0px;
	float: left;
}

#auth_box #register {
	width: 26%;
	height: 9%;
	left: 19%;
	top: 54px;
	position: relative;
	background: url("../images/layout/register.png") no-repeat;
	background-size: 100%;
	float: left;
}

#auth_box #register:hover{
	width: 26%;
	height: 9%;
	left: 19%;
	top: 54px;
	position: relative;
	background: url("../images/layout/register2.png") no-repeat;
	background-size: 100%;
	float: left;
}

#auth_box #fblogin {
	width: 45%;
	height: 6%;
	left: 28%;
	top: 73px;
	position: relative;
	background: url("../images/layout/fblogin1.png") no-repeat;
	background-size: 100%;
}

#auth_box #fblogin:hover{
	width: 45%;
	height: 6%;
	left: 28%;
	top: 73px;
	position: relative;
	background: url("../images/layout/fblogin2.png") no-repeat;
	background-size: 100%;
}

#alert-messages{
	position: fixed;
	top: 30%;
	width: 60%;
	left: 20%;
	text-align: center;
	margin: 0 auto;
	z-index: 100;
}

.alert{
	opacity: 0;
}

#topRobotContent {
	width: 790px;
	left: 234px;
	position: relative;
	margin-top: -48px;
}

#topRobot {
	background: url("../images/layout/robot/1.png") no-repeat;
	position: absolute;
	width: 41px;
	height: 95px;
	top: 0px;
	left: 0px;
}

body{
	height: 100%;
}

.modal-content{
	border-width: 13px;
	border-color: #F8E566;
}

/** testing */
.testR{
	background-color: rgba(255, 0, 0, 0.4);
}
.testG{
	background-color: rgba(0, 255, 0, 0.4);
}
.testB{
	background-color: rgba(0, 0, 255, 0.4);
}
.testY{
	background-color: rgba(255, 255, 0, 0.4);
}