#all {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
	height: 800px;
}

#left {
	float: left;
	width: 15%;
	max-height: 100%;
	overflow: auto;
}

.place {
	margin-bottom: auto;
	width: 100%;
	height: 100px;
	font-size: 30px;
	color: #5555FF;
	border: 1px solid ;
	border-color: #000000;
	background-color: #AAAAAA;
}

#right {
	float: left;
	width: 84%;
	height: 100%;
	margin-left: 1%;
	background-color: #DDDDDD;
	border: 2px solid;
	border-color: #5555FF;
}

#introduction {
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 2%;
	height: 200px;
	border: 2px solid;
	border-color: #5555FF;
	overflow: auto;
}

#picture {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	height: 500px;
	border: 2px solid;
	border-radius: 30px;
	border-color: #5555FF;
}

#select {
	position: relative;
	top: -2%;
	margin-left: 2%;
	margin-right: 2%;
	height: 50px;
	border: 2px solid;
	border-radius: 10px;
	border-color: #5555FF;
	background-color: #5599FF;
}

#left_buttom {
	float: left;
	height: 30px;
	width: 100px;
	margin-top: 1%;
	margin-left: 35%;
	border: 2px solid;
	border-color: #5555FF;
	background-color: #FFFF33;
}

#right_buttom {
	height: 30px;
	width: 100px;
	margin-top: 1%;
	margin-left: 50%;
	border: 2px solid;
	border-color: #5555FF;
	background-color: #FFFF33;
}