#all {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
	height: 950px;
}

#left {
	float: left;
	margin-left: 78px;
	margin-top: 65px;
	width: 208px;
}

#left_top {
	width: 100%;
	height: 83px;
	position: relative;
	z-index: 99;
	background-image: url(../images/nculife/left_top.png);
}

#place {
	width: 100%;
	height: 715px;
	overflow: auto;
	margin-top: -10px;
}

.place {
	width: 100%;
	height: 155px;
	font-size: 30px;
	font-family: "微軟正黑體";
	text-align: center;
	padding: 35px;
	margin-bottom: -15px;
	background-image: url(../images/nculife/place.png);
}

.place:hover {
	width: 100%;
	height: 155px;
	font-size: 30px;
	font-family: "微軟正黑體";
	text-align: center;
	padding: 35px;
	margin-bottom: -15px;
	background-image: url(../images/nculife/prese_place.png);
}

.placeClick {
	background-image: url(../images/nculife/prese_place.png);
}

#left_bottom {
	width: 100%;
	height: 88px;
	margin-top: -15px;
	position: relative;
	background-image: url(../images/nculife/left_bottom.png);
}

#right {
	float: left;
	width: 636px;
	height: 865px;
	margin-left: 30px;
	margin-top: 63px;
}

#introduction {
	width: 636px;
	height: 359px;
	font-size: 20px;
	font-family: "微軟正黑體";
	padding: 20px 30px;
	background-image: url(../images/nculife/introduction.png);
}

#introductionbox {
	width: 550px;
	height: 250px;
	margin-top: 2px;
	margin-left: 10px;
	overflow: auto;
}

#introductionbox2 {
	width: 550px;
}

#picture {
	width: 636px;
	height: 527px;
	margin-top: -25px;
	overflow: hidden;
	background-image: url(../images/nculife/picture.png);
}

#picture_select {
	width: 100%;
	height: 50px;
	position: relative;
	top: 360px;
	left: 55px;
	z-index: 999;
}

.select {
	width: 29px;
	height: 16px;
	position: relative;
	top: 50px;
	left: 30px;
	background-image: url(../images/nculife/switchoff.png);
	display: inline-block;
}

#select1 {
	background-image: url(../images/nculife/switchon.png);
}

#img {
	margin-top: -15px;
	position: relative;
	top: -50px;
}

.img {
	width: 585px;
	height: 440px;
	margin-top: 15px;
	margin-left: 0px;
}

.imgMask {
	-webkit-mask-image: url(../images/nculife/photomask.png);
}

#containment {
	width: 1020px;
	height: 720px;
	position: relative;
	bottom: 555px;
	right: 193px;
	z-index: -1;
}

#select {
	height: 50px;
	margin-top: -65px;
	z-index: 999;
}

#buttom {
	height: 30px;
	width: 150px;
	margin-top: 1%;
	margin-left: 40%;
}

img.ui-state-disabled.ui-draggable-disabled { opacity : 1;}