#all {	
	height: 1000px;
	width: 100%;
}

#item1 {
	position: absolute;
	top: 410px;
	left: 200px;
	height: 251px;
	width: 344px;
}

#item2 {
	position: absolute;
	top: 720px;
	left: 335px;
	height: 291px;
	width: 308px;
}

#item3 {
	position: absolute;
	top: 400px;
	left: 590px;
	height: 289px;
	width: 365px;
}

#item4 {
	position: absolute;
	top: 710px;
	left: 745px;
	height: 268px;
	width: 347px;
}

#item5 {
	position: absolute;
	top: 1020px;
	left: 640px;
	height: 289px;
	width: 365px;
}

#robot {
	position: absolute;
	top: 900px;
	left: 175px;
	height: 464px;
	width: 238px;
}

.picture {
	width: 100%;
	height: 100%;
}