.author{
	color: #FFFFFF;
	font-size: 17px;
}
.personalImage{
	width: 80px;
	height: 80px;
	margin: 10;
	border: 1px solid #D4D4CA;
	border-radius: 10px;
	float: left;
}
.articlePostTime{
	position: relative;
	display: table;
	float: right;
	margin-top: 2%;
	margin-right: 15px;
}
.edit{
	position: relative;
	float: right;
	right: 10px;
}
.articleContainer{
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 2px;
}
.panel-title{
	font-size: 25px;
	color: #FFFFFF;
}
.panel-heading{
	background-image: url(../images/forum/forum_title.png);
	background-position: 0px -64px;
}
.content{
	word-break: break-all;
	width: 910px;
	float: left;
	position: relative;
}
.btnBox{
	height: 35px;
	clear:both;
}
.createComment{
	position: relative;
	top: 5px;
	left: 89%;
	background-color: transparent;
	border-color: transparent;
	width: 107px;
	height: 62px;
	background-image: url(../images/forum/perArticle_button.png);
	background-position: 0px 0px;
}
.createComment:hover{
	background-position: 0px -64px;
	background-color: transparent;
	border-color: transparent;
}
.commenterID{
	margin-bottom: 5px;
	width: 17%;
}
textarea.commentTextArea{
	height: 5em;
	resize: none;
}
.commentAuthor{
	font-weight: 800;
	position: relative;
	left: 10px;
}
.commentAuthorBox{
	margin-bottom: 5px;
	margin-top: 5px; 
}
.commentContent{
	word-break: break-word;
}
.commentTime{
	position: relative;
	float: right;
	top: -25px;
	right: 5px;
}
.personalImageComment{
	width: 50px;
	border: 1px solid #D4D4CA;
	border-radius: 10px;
	position: relative;
}
.personImageBox{
	width: 5%;
	left: 8px;
	position: relative;
}
.commentContentBox{
	width: 90%;
	position: relative;
	top: -55px;
	left: 70px;
}
.delBtn{
	position: relative;
	float: right;
	bottom: 5px;
}
.editArea{
	word-break:break-word; 
	resize: none;
}
.saveBtn{
	position: relative;
	float: right;
	top: 5px;
}
.canBtn{
	position: relative;
	float: right;
	top: 5px;
	right: 5px;
}
.modal-content{
	border-width: 5px;
	border-color: #666666;
}
