.author{
	color: #458FFF;
	font-size: 17px;
}
.personalImage{
	width: 80;
	margin: 10;
	border: 1px solid #D4D4CA;
	border-radius: 10;
	float: left;
}
.articlePostTime{
	position: relative;
	display: table;
	float: right;
	margin-top: 2%;
	margin-right: 15;
}
.edit{
	position: relative;
	float: right;
	right: 10px;
}
.articleContainer{
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 2px;
}
.panel-title{
	font-size: 25px;
	color: #458FFF;
}
.content{
	word-break: break-all;
	width: 910;
	float: left;
	position: relative;
}
.btnBox{
	height: 35px;
	clear:both;
}
.createComment{
	position: relative;
	top: 10px;
	left: 91%;
}
.commenterID{
	margin-bottom: 5px;
	width: 17%;
}
textarea.commentTextArea{
	height: 5em;
	resize: none;
}
.commentAuthor{
	font-weight: 800;
	position: relative;
	left: 10px;
}
.commentAuthorBox{
	margin-bottom: 5px;
	margin-top: 5px; 
}
.commentContent{
	word-break: break-word;
}
.commentTime{
	position: relative;
	float: right;
	top: -25px;
	right: 5px;
}
.personalImageComment{
	width: 50px;
	border: 1px solid #D4D4CA;
	border-radius: 10px;
	position: relative;
}
.personImageBox{
	width: 5%;
	left: 8;
	position: relative;
}
.commentContentBox{
	width: 90%;
	position: relative;
	top: -55px;
	left: 70px;
}
.delBtn{
	position: relative;
	float: right;
	bottom: 5px;
}
.editArea{
	word-break:break-word; 
	resize: none;
}
.saveBtn{
	position: relative;
	float: right;
	top: 5px;
}
.canBtn{
	position: relative;
	float: right;
	top: 5px;
	right: 5px;
}

