/*#tollbar{
    width: 45px;
    height: 152px;
    border-radius:5px;
    background-color: white;
    color: black;
    font-size: 28px;
    font-weight: 900px;
    word-wrap: break-word;
    float: left;
    font-family: "微軟正黑體";
    padding-left: 7px;
}*/
.modal-body{
    font-family: "微軟正黑體";
    font-weight: 900px;
}
#bigcontent{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 670px;
}

.name{
   
    width: 70px;
     filter: dropshadow(color=#CCCCCC, offx=1, offy=1, Positive=1);
}

#picture{
	width: 100%;
	height: 700px;
	padding: 10px;
}

#option{
    position: absolute;
    left: 157px;
    top: 22px;
    z-index:3;

}


html, body {
    margin: 0;
    min-height: 100%;
}

#fixMap {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 618px;
}

#map{
    width: 835px;
    height: 632px;
    position: absolute;
    left: 123px;
    top:59px;
    z-index: 0;
     background-position:0px 0px;
     background-image:url('../images/SchoolGuide/RhowChain.png');
}

#fixmapLine {
    width: 12px;
    height: 64px;
    position: absolute;
    top: 26px;
    left: 603px;
    display: none;
    background: url('../images/SchoolGuide/line.png') no-repeat;
}

#Buttom{
    position: absolute;
    top:146px;
    left: 255px;
    height: 459px;
    width: 669px;
    z-index: 1; 
    background-position:-864px 0px;
   background-image:url('../images/SchoolGuide/RhowChain.png');
}

#object{
    position: absolute;

    top: 0px;
    z-index: 1;
    background-position:-864px -512px;
    background-image:url('../images/SchoolGuide/RhowChain.png');
    width: 644px;
    height: 75px;
}
.one{
    border: 2px solid #000;
    width: 1024px;
    margin-left:-50px;
    height: 300px; 
    overflow-y: scroll;

}
.board{
    position: relative;
    left: -21px;
    top: 118px;
    z-index: 2;
    margin-top: -49px;
    background-position:-735px -96px;

}
.left_item{
    cursor: pointer;
    list-style-type: none;
    background-position:-1536px -0px;
    background-image:url('../images/SchoolGuide/RhowChain.png');
    position: relative;
    left: -31px;
    top: 62px;
    z-index: 10;
    width: 143px;
    height: 70px;
    padding-top: 31px;
    text-align: center;
    font-family: "微軟正黑體";
    color: white;
    font-weight: 900;
    text-shadow:3px 3px 3px #383838 ;
    font-size: 20px;




}
.item{
    background-image:url('../images/SchoolGuide/RhowChain.png');
}

.left_item:hover{
    cursor: pointer;
    list-style-type: none;
    background-position:-1536px -96px;
    position: relative;
    left: -31px;
    top: 62px;
    z-index: 10;
    width: 143px;
    height: 70px;
    padding-top: 31px;
    text-align: center;
    font-family: "微軟正黑體";
    color: white;
    font-weight: 900;
    text-shadow:3px 3px 3px #383838 ;
    font-size: 20px;
}

.modal-content{
    margin-top:80px; 
    width: 1024px; 
    left: -205px; 
    background-color: #f0ffff;
}
.modal-header{
    border-bottom:0px; !important
}
.modal-footer{
    border-top:0px; !important
}
.robot{
    position: absolute;
    top: -112px;
    left: 666px;
    width: 100px;
    background-position:-1536px -192px;
    background-image:url('../images/SchoolGuide/RhowChain.png');
}
#Zhidao{
    position: absolute;
    top:335px;
    left: 338px;
    z-index: 2;
    background-position: -0px -640px;
    width: 49px;
    height: 49px;
}
#Zhidao:hover{
    background-position: -64px -640px;
}

#G14{
    position: absolute;
    top:356px;
    left: 296px;
    z-index: 2;
    background-position:-128px -640px;
    width: 58px;
    height: 38px;
}

#G14:hover{
    z-index: 2;
    background-position:-192px -640px;
}

#G14-ground{
    position: absolute;
    top:372px;
    left: 350px;
    z-index: 2;
    background-position:-256px -640px;
    width: 25px;
    height: 21px;
}

#G14-ground:hover{
    z-index: 2;
    background-position:-320px -640px;
}

#B11{
    position: absolute;
    top:383px;
    left: 280px;
    z-index: 2;
    background-position:-384px -640px;
    width: 64px;
    height: 33px;
}

#B11:hover{
    z-index: 2;
    background-position:-448px -640px;
}

#B7{
    position: absolute;
    top:395px;
    left: 259px;
    z-index: 2;
    background-position:-512px -640px;
    width: 57px;
    height: 50px;
}

#B7:hover{
    z-index: 2;
    background-position:-576px -640px;
}
#B7-food{
    position: absolute;
    top:395px;
    left: 259px;
    z-index: 2;
    background-position:-512px -640px;
    width: 57px;
    height: 50px;
}

#B7-food:hover{
    z-index: 2;
    background-position:-576px -640px;
}


#B6{
    position: absolute;
    top:415px;
    left: 271px;
    z-index: 2;
    background-position:-640px -640px;
    width: 44px;
    height: 36px;
}
#B6:hover{
    z-index: 2;
    background-position:-704px -640px;
}

#art{
    position: absolute;
    top:426px;
    left: 286px;
    z-index: 2;
    background-position:-768px -640px;
    width: 71px;
    height: 52px;
}

#art:hover{
    z-index: 2;
    background-position:-864px -640px;
}

#building{
    position: absolute;
    top:453px;
    left: 304px;
    z-index: 2;
    background-position:-960px -640px;
    width: 84px;
    height: 38px;
}

#building:hover{
    z-index: 2;
    background-position:-1056px -640px;
}

#B13{
    position: absolute;
    top:462px;
    left: 280px;
    z-index: 3;
    background-position:-1152px -640px;
    width: 57px;
    height: 56px;
}

#B13:hover{
    z-index: 3;
    background-position:-1216px -640px;
}

#schoolh{
    position: absolute;
    top:446px;
    left: 374px;
    z-index: 2;
    background-position:-1280px -640px;
    width: 70px;
    height: 35px;
}

#schoolh:hover{
    z-index: 2;
    background-position:-1376px -640px;
}

#door{
    position: absolute;
    top:550px;
    left: 384px;
    z-index: 2;
    background-position:-1472px -640px;
    width: 44px;
    height: 24px;
}
#door:hover{
    z-index: 2;
    background-position:-1536px -640px;
}


#monument{
    position: absolute;
    top:435px;
    left: 441px;
    z-index: 2;
    background-position:-1600px -640px;
    width: 24px;
    height: 54px;
}

#monument:hover{
    z-index: 2;
    background-position:-1664px -640px;
}

#B5{
    position: absolute;
    top:385px;
    left: 341px;
    z-index: 5;
    background-position:-0px -768px;
    width: 65px;
    height: 51px;
}

#B5:hover{
    z-index: 3;
    background-position:-96px -768px;
}

#International{
    position: absolute;
    top:351px;
    left: 376px;
    z-index:2;
    background-position:-192px -768px;
    width: 66px;
    height: 63px;
}

#International:hover{
    z-index:6;
    background-position:-288px -768px;
}

#B3{
    position: absolute;
    top:307px;
    left: 374px;
    z-index: 2;
    background-position:-384px -768px;
    width: 40px;
    height: 41px;
}

#B3:hover{
    z-index: 2;
    background-position:-480px -768px;
}

#science-1{
    position: absolute;
    top:378px;
    left: 409px;
    z-index: 3;
    background-position:-576px -768px;
    width: 82px;
    height: 76px;
}

#science-1:hover{
    z-index: 3;
    background-position:-672px -768px;
}

#administration{
    position: absolute;
    top:431px;
    left: 479px;
    z-index: 3;
    background-position:-768px -768px;
    width: 58px;
    height: 45px;
}

#administration:hover{
    z-index: 3;
    background-position:-864px -768px;
}

#library{
    position: absolute;
    top:384px;
    left: 505px;
    z-index: 3;
    background-position:-960px -768px;
    width: 63px;
    height: 65px;
}

#library:hover{
    z-index: 3;
    background-position:-1056px -768px;
}

#tree{
    position: absolute;
    top:367px;
    left: 480px;
    z-index: 2;
    background-position:-1152px -768px;
    width: 37px;
    height: 28px;
}

#tree:hover{
    z-index: 2;
    background-position:-1248px -768px;
}

#oldlibrary{
    position: absolute;
    top:370px;
    left: 531px;
    z-index: 2;
    background-position:-1344px -768px;
    width: 64px;
    height: 53px;
}

#oldlibrary:hover{
    z-index: 2;
    background-position:-1440px -768px;
}

#tai{
    position: absolute;
    top:411px;
    left: 612px;
    z-index: 2;
    background-position:-1536px -768px;
    width: 29px;
    height: 27px;
}

#tai:hover{
    z-index: 2;
    background-position:-1632px -768px;
}

#blackbox{
    position: absolute;
    top:443px;
    left: 542px;
    z-index: 3;
    background-position:-0px -896px;
    width: 84px;
    height: 56px;
}

#blackbox:hover{
    z-index: 3;
    background-position:-96px -896px;
}

#literary{
    position: absolute;
    top:419px;
    left: 561px;
    z-index: 2  ;
    background-position:-192px -896px;
    width: 81px;
    height: 64px;
}

#literary:hover{
    z-index: 2  ;
    background-position:-288px -896px;
}

#engineer-1{
    position: absolute;
    top:304px;
    left: 486px;
    z-index: 2;
    background-position:-384px -896px;
    width: 99px;
    height: 65px;
}

#engineer-1:hover{
    z-index: 2;
    background-position:-576px -896px;
}

#engineer-2{
    position: absolute;
    top:266px;
    left: 530px;
    z-index: 2;
    background-position:-768px -896px;
    width: 89px;
    height: 67px;
}

#engineer-2:hover{
    z-index: 2;
    background-position:-864px -896px;
}

#G-1-4{
    position: absolute;
    top:260px;
    left: 458px;
    z-index: 2;
    background-position:-960px -896px;
    width: 66px;
    height: 65px;
}

#G-1-4:hover{
    z-index: 2;
    background-position:-1056px -896px;
}

#G5{ 
     position: absolute;
    top:328px;
    left: 419px;
    z-index: 2;
    background-position:-1152px -896px;
    width: 30px;
    height: 31px;
}

#G5:hover{
    z-index: 2;
    background-position:-1248px -896px;
}

#engineer-3{
    position: absolute;
    top:196px;
    left: 645px;
    z-index: 2;
    background-position:-1344px -896px;
    width: 85px;
    height: 40px;
}

#engineer-3:hover{
    z-index: 2;
    background-position:-1440px -896px;
}

#engineer-4{
    position: absolute;
    top:166px;
    left: 710px;
    z-index: 5;
    background-position:-1536px -896px;
    width: 71px;
    height: 50px;
}

#engineer-4:hover{
    z-index: 5;
    background-position:-1632px -896px;
}

#engineer-5{
    position: absolute;
    top:141px;
    left: 624px;
    z-index: 3;
    background-position:-0px -1024px;
    width: 110px;
    height: 46px;
}

#engineer-5:hover{
    z-index: 3;
    background-position:-192px -1024px;
}

#park{
    position: absolute;
    top:249px;
    left: 564px;
    z-index: 2;
    background-position:-384px -1024px;
    width: 40px;
    height: 24px;
}

#park:hover{
    z-index: 2;
    background-position:-480px -1024px;
}
#park-food{
    position: absolute;
    top:249px;
    left: 564px;
    z-index: 2;
    background-position:-384px -1024px;
    width: 40px;
    height: 24px;
}

#park-food:hover{
    z-index: 2;
    background-position:-480px -1024px;
}

#gym{
    position: absolute;
    top:259px;
    left: 645px;
    z-index: 2;
    background-position:-576px -1024px;
    width: 80px;
    height: 51px;
}

#gym:hover{
    z-index: 2;
    background-position:-672px -1024px;
    width: 79px;
    height: 51px;
}

#basketball{
    position: absolute;
    top:259px;
    left: 767px;
    z-index: 3;
    background-position:-768px -1024px;
    width: 23px;
    height: 23px;
}

#basketball:hover{
    z-index: 3;
    background-position:-864px -1024px;
}

#playground{
    position: absolute;
    top:240px;
    left: 648px;
    z-index: 2;
    background-position:-960px -1024px;
    width: 106px;
    height: 40px;
}

#playground:hover{
    z-index: 2;
    background-position:-1152px -1024px;
}

#rock{
    position: absolute;
    top:255px;
    left: 748px;
    z-index: 3;
    background-position:-1344px -1024px;
    width: 21px;
    height: 23px;
}

#rock:hover{
    z-index: 3;
    background-position:-1440px -1024px;
}

#swimpool{
    position: absolute;
    top:242px;
    left: 811px;
    z-index: 3;
    background-position:-1536px -1024px;
    width: 69px;
    height: 48px;
}

#swimpool:hover{
    z-index: 3;
    background-position:-1632px -1024px;
}

#skate{
    position: absolute;
    top:296px;
    left: 734px;
    z-index: 3;
    background-position:-0px -1152px;
    width: 27px;
    height: 27px;
}

#skate:hover{
    z-index: 3;
    background-position:-96px -1152px;
}

#valley{
    position: absolute;
    top:270px;
    left: 622px;
    z-index: 3;
    background-position:-192px -1152px;
    width: 19px;
    height: 19px;
}

#valley:hover{
    z-index: 3;
    background-position:-288px -1152px;
}

#badminton{
    position: absolute;
    top:292px;
    left: 716px;
    z-index: 3;
    background-position:-384px -1152px;
    width: 24px;
    height: 27px;
}

#badminton:hover{
    z-index: 3;
    background-position:-480px -1152px;
}

#wood{
    position: absolute;
    top:426px;
    left: 681px;
    z-index: 3;
    background-position:-576px -1152px;
    width: 29px;
    height: 22px;
}

#wood:hover{
    z-index: 3;
    background-position:-672px -1152px;
}

#science-2{
    position: absolute;
    top:320px;
    left: 716px;
    z-index: 3;
    background-position:-768px -1152px;
    width: 60px;
    height: 85px;
}

#science-2:hover{
    z-index: 3;
    background-position:-864px -1152px;
}

#science-3{
    position: absolute;
    top:360px;
    left: 766px;
    z-index: 3;
    background-position:-960px -1152px;
    width: 66px;
    height: 61px;
}

#science-3:hover{
    z-index: 3;
    background-position:-1056px -1152px;
}

#mbuilding{
    position: absolute;
    top:381px;
    left: 706px;
    z-index: 3;
    background-position:-1152px -1152px;
    width: 70px;
    height: 56px;
}

#mbuilding:hover{
    z-index: 3;
    background-position:-1248px -1152px;
}

#math{
    position: absolute;
    top:401px;
    left: 766px;
    z-index: 3;
    background-position:-1344px -1152px;
    width: 51px;
    height: 49px;
}

#math:hover{
    z-index: 3;
    background-position:-1440px -1152px;
}

#management-1{
    position: absolute;
    top:426px;
    left: 681px;
    z-index: 3;
    background-position:-1536px -1152px;
    width: 64px;
    height: 75px;
}

#management-1:hover{
    z-index: 3;
    background-position:-1632px -1152px;
}

#management-2{
    position: absolute;
    top:440px;
    left: 765px;
    z-index: 3;
    background-position:-0px -1280px;
    width: 94px;
    height: 54px;
}

#management-2:hover{
    position: absolute;
    top:440px;
    left: 765px;
    z-index: 3;
    background-position:-96px -1280px;
}

#clibrary{
    position: absolute;
    top:446px;
    left: 641px;
    z-index: 3;
    background-position:-192px -1280px;
    width: 43px;
    height: 48px;
}

#clibrary:hover{
    z-index: 3;
    background-position:-288px -1280px;
}

#Graduate{
    position: absolute;
    top:464px;
    left: 721px;
    z-index: 3;
    background-position:-384px -1280px;
    width: 94px;
    height: 75px;
}

#Graduate:hover{
    z-index: 3;
    background-position:-480px -1280px;
}
#Graduate-food{
    position: absolute;
    top:464px;
    left: 721px;
    z-index: 3;
    background-position:-384px -1280px;
    width: 94px;
    height: 75px;
}

#Graduate-food:hover{
    z-index: 3;
    background-position:-480px -1280px;
}

#Hakkas{
    position: absolute;
    top:279px;
    left: 852px;
    z-index: 2;
    background-position:-576px -1280px;
    width: 75px;
    height: 54px;
}

#Hakkas:hover{
    z-index: 2;
    background-position:-672px -1280px;
}

#electric{
    position: absolute;
    top:272px;
    left: 786px;
    z-index: 3;
    background-position:-768px -1280px;
    width: 77px;
    height: 60px;
}

#electric:hover{
    z-index: 3;
    background-position:-864px -1280px;
}

#outerspace{
    position: absolute;
    top:123px;
    left: 624px;
    z-index: 2;
    background-position:-960px -1280px;
    width: 47px;
    height: 67px;
}

#outerspace:hover{
    z-index: 2;
    background-position:-1056px -1280px;
}

#flower{
    position: absolute;
    top:405px;
    left: 652px;
    z-index: 3;
    background-position:-1152px -1280px;
    width: 23px;
    height: 21px;
}

#flower:hover{
    z-index: 3;
    background-position:-1248px -1280px;
}

#ncu{
    position: absolute;
    top:505px;
    left: 681px;
    z-index: 3;
    background-position:-1344px -1280px;
    width: 54px;
    height: 51px;
}

#ncu:hover{
    z-index: 3;
    background-position:-1440px -1280px;
}

#B9{
    position: absolute;
    top:553px;
    left: 635px;
    z-index: 3;
    background-position:-0px -1408px;
    width: 103px;
    height: 43px;
}

#B9:hover{
    z-index: 3;
    background-position:-192px -1408px;
}
#B9-food{
    position: absolute;
    top:553px;
    left: 635px;
    z-index: 3;
    background-position:-0px -1408px;
    width: 103px;
    height: 43px;
}

#B9-food:hover{
    z-index: 3;
    background-position:-192px -1408px;
}

#science-4{
    position: absolute;
    top:362px;
    left: 845px;
    z-index: 3;
    background-position:-1536px -1280px;
    width: 75px;
    height: 75px;
}

#science-4:hover{
    z-index: 3;
    background-position:-1632px -1280px;
}

#science-5{
    position: absolute;
    top:416px;
    left: 823px;
    z-index: 3;
    background-position:-384px -1408px;
    width: 73px;
    height: 81px;
}

#science-5:hover{
    z-index: 3;
    background-position:-480px -1408px;
}

#lake{
    position: absolute;
    top:349px;
    left: 823px;
    z-index: 3;
    background-position:-576px -1408px;  
    width: 24px;
    height: 20px;
}

#lake:hover{
    z-index: 3;
    background-position:-672px -1408px;
}

#B12{
    position: absolute;
    top:522px;
    left: 733px;
    z-index: 3;
    background-position:-768px -1408px;
    width: 51px;
    height: 65px;
}

#B12:hover{
    z-index: 3;
    background-position:-864px -1408px;
}

#tennis{
    position: absolute;
    top:280px;
    left: 757px;
    z-index: 3;
    background-position:-960px -1408px;
    width: 17px;
    height: 16px;
}

#tennis:hover{
    z-index: 3;
    background-position:-1056px -1408px;
}

#pool{
    position: absolute;
    top:528px;
    left: 662px;
    z-index: 3;
    background-position:-1152px -1408px;  
    width: 20px;
    height: 22px;
}

#pool:hover{
    z-index: 3;
    background-position:-1248 -1408px;  
}