/*#tollbar{
    width: 45px;
    height: 152px;
    border-radius:5px;
    background-color: white;
    color: black;
    font-size: 28px;
    font-weight: 900px;
    word-wrap: break-word;
    float: left;
    font-family: "微軟正黑體";
    padding-left: 7px;
}*/

#bigcontent{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 670px;
}

.name{
   
    width: 70px;
     filter: dropshadow(color=#CCCCCC, offx=1, offy=1, Positive=1);
}

#picture{
	width: 100%;
	height: 700px;
	padding: 10px;
}

#option{
    position: absolute;
    left: 157px;
    top: 22px;
    z-index:3;

}


html, body {
    margin: 0;
    min-height: 100%;
}

#fixMap {
    position: fixed;
    width: 100%;
    height: 618px;
}

#map{
    width: 835px;
    height: 632px;
    position: absolute;
    left: 133px;
    top:59px;
    z-index: 0;
     background-position:0px -895px;
     background-image:url('../images/SchoolGuide/RhowChain.png');
}

#fixmapLine {
    width: 12px;
    height: 64px;
    position: absolute;
    top: 26px;
    left: 603px;
    display: none;
    background: url('../images/SchoolGuide/line.png') no-repeat;
}

#Buttom{
    position: absolute;
    top:146px;
    left: 255px;
    height: 459px;
    width: 669px;
    z-index: 1; 
    background-position:-1568px -412px;
   background-image:url('../images/SchoolGuide/RhowChain.png');
}

#object{
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 1;
    background-position:-928px -983px;
    background-image:url('../images/SchoolGuide/RhowChain.png');
    width: 637px;
    height: 75px;
}
.one{
    border: 2px solid #000;
    width: 1024px;
    margin-left:-50px;
    height: 300px; 
    overflow-y: scroll;

}
.board{
     position: relative;
     left: -21px;
     top: 118px;
     z-index: 2;
     margin-top: -49px;
      background-position:-735px -96px;

}
.left_item{
    cursor: pointer;
    list-style-type: none;
    background-image:url('../images/board.png') ;
    position: relative;
    left: -21px;
    top: 62px;
    z-index: 10;
    width: 143px;
    height: 70px;
    padding-top: 31px;
    text-align: center;
    font-family: "微軟正黑體";
    color: white;
    font-weight: 900;
    text-shadow:3px 3px 3px #383838 ;
    font-size: 20px;




}
.item{
    background-image:url('../images/SchoolGuide/RhowChain.png');
}

.left_item:hover{
    cursor: pointer;
    list-style-type: none;
    background-image:url('../images/board-p.png') ;
    position: relative;
    left: -21px;
    top: 62px;
    z-index: 10;
    width: 143px;
    height: 70px;
    padding-top: 31px;
    text-align: center;
    font-family: "微軟正黑體";
    color: white;
    font-weight: 900;
    text-shadow:3px 3px 3px #383838 ;
    font-size: 20px;
}

.modal-content{
    margin-top:80px; 
    width: 1024px; 
    left: -205px; 
    background-color: #f0ffff;
}
.modal-header{
    border-bottom:0px; !important
}
.modal-footer{
    border-top:0px; !important
}
.robot{
    position: absolute;
    top: -112px;
    left: 666px;
    width: 100px;
    background-position:-960px -727px;
    background-image:url('../images/SchoolGuide/RhowChain.png');
}
#Zhidao{
    position: absolute;
    top:335px;
    left: 338px;
    z-index: 2;
    background-position: -799px -737px;
}

#G14{
    position: absolute;
    top:356px;
    left: 296px;
    z-index: 2;
     background-position:-608px -290px;

}
#G14-ground{
    position: absolute;
    top:372px;
    left: 350px;
    z-index: 2;
     background-position:-511px -291px;
}

#B11{
    position: absolute;
    top:383px;
    left: 280px;
    z-index: 2;
     background-position:-384px -1px;

}

#B7{
    position: absolute;
    top:395px;
    left: 259px;
    z-index: 2;
     background-position:-1152px -2px;

}
#B6{
    position: absolute;
    top:415px;
    left: 271px;
    z-index: 2;
     background-position:-1024px -1px;

}

#art{
    position: absolute;
    top:426px;
    left: 286px;
    z-index: 2;
    background-position:-225px -2px;

}
#building{
    position: absolute;
    top:453px;
    left: 304px;
    z-index: 2;
     background-position:-992px -98px;

}
#B13{
    position: absolute;
    top:462px;
    left: 280px;
    z-index: 3;
     background-position:-640px -2px;

}
#schoolh{
    position: absolute;
    top:446px;
    left: 374px;
    z-index: 2;
    background-position:-1022px -514px;

}
#door{
    position: absolute;
    top:550px;
    left: 384px;
    z-index: 2;
     background-position:-64px -194px;

}
#monument{
    position: absolute;
    top:435px;
    left: 441px;
    z-index: 2;
    background-position:-225px -480px;

}

#B5{
    position: absolute;
    top:385px;
    left: 341px;
    z-index: 3;
     background-position:-896px -2px;

}

#International{
    position: absolute;
    top:351px;
    left: 376px;
    z-index:2;
    background-position:-288px -386px;

}

#B3{
    position: absolute;
    top:307px;
    left: 374px;
    z-index: 2;
    background-position:-768px -2px;
}

#science-1{
    position: absolute;
    top:378px;
    left: 409px;
    z-index: 3;
    background-position:-1210px -483px;

}
#administration{
    position: absolute;
    top:431px;
    left: 479px;
    z-index: 3;
    background-position:-64px -2px;
}
#library{
    position: absolute;
    top:384px;
    left: 505px;
    z-index: 3;
    background-position:-480px -386px;

}

#tree{
    position: absolute;
    top:367px;
    left: 480px;
    z-index: 2;
    background-position:-543px -740px;

}
#oldlibrary{
    position: absolute;
    top:370px;
    left: 531px;
    z-index: 2;
    background-position:-93px -578px;
}
#tai{
    position: absolute;
    top:411px;
    left: 612px;
    z-index: 2;
    background-position:-359px -739px;

}

#blackbox{
    position: absolute;
    top:443px;
    left: 542px;
    z-index: 3;
     background-position:-480px -98px;

}

#literary{
    position: absolute;
    top:419px;
    left: 561px;
    z-index: 2  ;
    background-position:-640px -386px;

}
#engineer-1{
    position: absolute;
    top:304px;
    left: 486px;
    z-index: 2;
     background-position:-448px -194px;

}
#engineer-2{
    position: absolute;
    top:266px;
    left: 530px;
    z-index: 2;
     background-position:-672px -194px;

}
#G-1-4{
    position: absolute;
    top:260px;
    left: 458px;
    z-index: 2;
     background-position:-416px -290px;

}
#G5{ 
     position: absolute;
    top:260px;
    left: 458px;
    z-index: 2;
     background-position:-704px -290px;
}
#engineer-3{
    position: absolute;
    top:196px;
    left: 645px;
    z-index: 2;
     background-position:-895px -193px;

}
#engineer-4{
    position: absolute;
    top:166px;
    left: 710px;
    z-index: 5;
     background-position:-1088px -194px;

}
#engineer-5{
    position: absolute;
    top:141px;
    left: 624px;
    z-index: 3;
     background-position:-128px -289px; 

}
#park{
    position: absolute;
    top:249px;
    left: 564px;
    z-index: 2;
    background-position:-608px -481px;

}
#gym{
    position: absolute;
    top:259px;
    left: 645px;
    z-index: 2;
    background-position:-1021px -289px;

}
#basketball{
    position: absolute;
    top:259px;
    left: 767px;
    z-index: 3;
     background-position:-352px -98px;

}
#playground{
    position: absolute;
    top:240px;
    left: 648px;
    z-index: 2;
    background-position:-802px -571px;

}
#rock{
    position: absolute;
    top:255px;
    left: 748px;
    z-index: 3;
    background-position:-224px -579px;

}
#swimpool{
    position: absolute;
    top:242px;
    left: 811px;
    z-index: 3;
    background-position:-159px -738px;
}
#skate{
    position: absolute;
    top:296px;
    left: 734px;
    z-index: 3;
    background-position:-32px -736px;

}
#valley{
    position: absolute;
    top:270px;
    left: 622px;
    z-index: 3;
    background-position:-640px -739px;

}
#badminton{
    position: absolute;
    top:292px;
    left: 716px;
    z-index: 3;
     background-position:-298px -109.5px;

}
#wood{
    position: absolute;
    top:426px;
    left: 681px;
    z-index: 3;
    background-position:-417px -739px;

}
#science-2{
    position: absolute;
    top:320px;
    left: 716px;
    z-index: 3;
    background-position:-320px -577px;

}
#science-3{
    position: absolute;
    top:360px;
    left: 766px;
    z-index: 3;
    background-position:-479px -578px;  

}
#mbuilding{
    position: absolute;
    top:381px;
    left: 706px;
    z-index: 3;
    background-position:-97px -479px;

}
#math{
    position: absolute;
    top:401px;
    left: 766px;
    z-index: 3;
    background-position:-1153px -386px;

}
#management-1{
    position: absolute;
    top:426px;
    left: 681px;
    z-index: 3;
    background-position:-832px -384px;

}
#management-2{
    position: absolute;
    top:440px;
    left: 765px;
    z-index: 3;
    background-position:-992px -385px;

}
#clibrary{
    position: absolute;
    top:446px;
    left: 641px;
    z-index: 3;
     background-position:-1152px -97px;

}
#Graduate{
    position: absolute;
    top:464px;
    left: 721px;
    z-index: 3;
    background-position:-832px -290px;
}
#Hakkas{
    position: absolute;
    top:279px;
    left: 852px;
    z-index: 2;
    background-position:-93px -386px;

}
#electric{
    position: absolute;
    top:272px;
    left: 786px;
    z-index: 3;
     background-position:-224px -194px;

}
#outerspace{
    position: absolute;
    top:123px;
    left: 624px;
    z-index: 2;
    background-position:-476px -482px;
}

#flower{
    position: absolute;
    top:405px;
    left: 652px;
    z-index: 3;
     background-position:-287px -291px;
}

#ncu{
    position: absolute;
    top:505px;
    left: 681px;
    z-index: 3;
    background-position:-320px -481px;
}
#B9{
    position: absolute;
    top:553px;
    left: 635px;
    z-index: 3;
     background-position:-128px -98px;

}

#science-4{
    position: absolute;
    top:362px;
    left: 845px;
    z-index: 3;
    background-position:-636px -577px;

}
#science-5{
    position: absolute;
    top:416px;
    left: 823px;
    z-index: 3;
    background-position:-831px -577px;

}
#lake{
    position: absolute;
    top:349px;
    left: 823px;
    z-index: 3;
    background-position:-384px -386px;  

}
#B12{
    position: absolute;
    top:522px;
    left: 733px;
    z-index: 3;
     background-position:-512px -2px;

}
#tennis{
     position: absolute;
    top:522px;
    left: 733px;
    z-index: 3;
     background-position:-705px -737px;

}
#pool{
    position: absolute;
    top:349px;
    left: 823px;
    z-index: 3;
    background-position:-384px -386px;  

}