#frame {
	position:relative;
	top:20px;
	right:0px;
	width:1100px;
	height:3000px
}

#main {
	position:absolute;
	top:0;
	left:20;
}

#intro {
	position:absolute;
	top:0px;
	right:100px;
	width:400px;
	height: 450px;
	}
/*
#attached1 {
	position:absolute;
	top:340px;
	right:100px;
	width:400px;
	height: 300px;
}

#attached2 {
	position:absolute;
	top:760px;
	right:100px;
	width:400px;
	height: 300px;
}

#attached3 {
	position:absolute;
	top:1140px;
	right:100px;
	width:400px;
	height: 300px;
}

#attached4 {
	position:absolute;
	top:1520px;
	right:100px;
	width:400px;
	height: 300px;
}

#attached5 {
	position:absolute;
	top:1900px;
	right:100px;
	width:400px;
	height: 300px;
}

#attached6 {
	position:absolute;
	top:2280px;
	right:100px;
	width:400px;
	height: 300px;
}

#attached7 {
	position:absolute;
	top:2660px;
	right:100px;
	width:400px;
	height: 300px;
}

#attached8 {
	position:absolute;
	top:3040px;
	right:100px;
	width:400px;
	height: 300px;
}

#attached9 {
	position:absolute;
	top:3420px;
	right:100px;
	width:400px;
	height: 300px;
}

#attached10 {
	position:absolute;
	top:3800px;
	right:100px;
	width:400px;
	height: 300px;
}
*/
/*////////////////////////////////////////////////////////////////////////////////*/

#like {
	position:absolute;
	top:410px;
	left:0px;
}
#love {
	position:absolute;
	top:410px;
	left:110px;
}
#message {  
	position:absolute;
	top:410px;
	left:220px;
}
#div1 {      /*浮動視窗的位子*/
	position:absolute;
	top:200px;
	left:200px;
}
#rating {
	position: absolute;
	top:370px;
	left:350px;
	height:30px;
	width:100px;
}

#rating2 {
	position: absolute;
	top:370px;
	left:460px;
	height:30px;
	width:100px;
}

#rating_number1 {
	position: absolute;
	top: 410px;
	left:350px;
	height:30px;
	width:100px;
}

#rating_number2 {
	position: absolute;
	top: 410px;
	left:460px;
	height:30px;
	width:100px;
}
/*////////////////////////////////////////////////////////////////////////////////*/
#user_message {
	position:relative;	
	top:480px;
	width: 1200px;
	height: 190px;
}
#portrait{
	position:absolute;
	top: 20px;
	left: 10px;	
	height:150px;
}

#div_message {  
	position:relative;
	top:20px;
	left:184px;
	word-wrap:break-word;
}
#video_name {
	position:absolute;
	top:300px;
	left:0px;
	
}

#textarea {
	position: relative;
	top:80px;
	width: 820px;
	height: 150px;
	border: double;
	resize:none;
	color: #CC0099;
}

#submit {
	position:relative;
	top:65px;
	right:53px;
}