#cover {
	width: 935px;
	height: 617px;
	background-image: url("../../images/gamePower/cover.png");
}

#start {
	width: 246px;
	height: 81px;
	margin-top: 450px;
	margin-left: 180px;
	float: left;
	background: url("../../images/gamePower/start.png") no-repeat;
}
#start:hover {
	background: url("../../images/gamePower/startClick.png") no-repeat;
}


/*/////////////////////////////introduction/////////////////////////////////////////*/
#intro {
	width: 246px;
	height: 81px;
	margin-top: 450px;
	margin-right: 180px;
	float: right;
	background: url("../../images/gamePower/intro.png") no-repeat;
}
#intro:hover {
	background: url("../../images/gamePower/introClick.png") no-repeat;
}
#introduction {
	width: 776px;
	height: 463px;
	top: 80px;
	margin: center;
	position: relative;
	background-image: url("../../images/gamePower/introduction.png");
	display: none;
}

/*/////////////////////////////startGame/////////////////////////////////////////*/
#startGame {
	width: 935px;
	height: 617px;
	background-image: url("../../images/gamePower/startGame.png");
	font-size: 40px;
	position: relative;
	display: none;
}

#question {
	width: 90%;
	top: 5%;
	left: 5%;
	position: relative;
}

.base {
	margin-left: 5%;
	width: 90%;
	border-radius: 15px;
}

.base:hover {
	background: #F8E566;
}

.target{
	background: #F8E566;
}

#qa {
	top: 10%;
	position: relative;
}
#qb {
	top: 13%;
	position: relative;
}
#qc {
	top: 16%;
	position: relative;
}
#qd {
	top: 19%;
	position: relative;
}

#correctAns {
	width: 90%;
	text-align: center;
	margin-left: 5%;
	margin-top: 140px;
	font-size: 33px;
	font-weight: bold;
	background-color: #F8E566;
	color: saddlebrown;
	border-radius: 15px;
	display: none;
}

#next {
	width: 194px;
	height: 81px;
	margin-top: 20px;
	margin-left: 340px;
	background: url("../../images/gamePower/next.png") no-repeat;
	display: none;
}
#next:hover {
	width: 194px;
	height: 81px;
	background: url("../../images/gamePower/nextClick.png") no-repeat;
}

/*/////////////////////////////endScreen/////////////////////////////////////////*/
#endScreen {
	width: 935px;
	height: 617px;
	background-image: url("../../images/gamePower/endScreen.png");
	text-align: center;
	display: none;
	/*display: none;*/
}
#getPower {
	top: 100px;
	font-family: "微軟正黑體";
	font-weight: bolder ;
	color: gray;
	font-size: 25px;
	position: relative;
}

#power {
	margin-top: 150px;
	margin-left: 60px;
}
#again {
	width: 246px;
	height: 81px;
	margin-top: 100px;
	margin-left: 340px;
	background: url("../../images/gamePower/again.png") no-repeat;
}
#again:hover {
	width: 246px;
	height: 81px;
	background: url("../../images/gamePower/againClick.png") no-repeat;
}