#hcover {
	width: 935px;
	height: 617px;
	background-image: url("../../images/gamePower/hcover.png");
	display: none;
}
#allPicU {
	width: 900px;
	height: 150px;
	top: 75px;
	left: 45px;
	position: relative;
}
#allPicD {
	width: 900px;
	height: 150px;
	top: 120px;
	left: 45px;
	position: relative;
}
.picture {
	width: 150px;
	height: 150px;
	margin-left: 15px;
	float: left;
}
.pictureClick {
	border: 3px black solid;
}
#p0 { background-image: url("../../images/gamePower/allPic.png"); background-position: 0px 0px; cursor: pointer; }
#p1 { background-image: url("../../images/gamePower/allPic.png"); background-position: -150px 0px; cursor: pointer; }
#p2 { background-image: url("../../images/gamePower/allPic.png"); background-position: -300px 0px; cursor: pointer; }
#p3 { background-image: url("../../images/gamePower/allPic.png"); background-position: -450px 0px; cursor: pointer; }
#p4 { background-image: url("../../images/gamePower/allPic.png"); background-position: -600px 0px; cursor: pointer; }
#p5 { background-image: url("../../images/gamePower/allPic.png"); background-position: 0px -150px; cursor: pointer; }
#p6 { background-image: url("../../images/gamePower/allPic.png"); background-position: -150px -150px; cursor: pointer; }
#p7 { background-image: url("../../images/gamePower/allPic.png"); background-position: -300px -150px; cursor: pointer; }
#p8 { background-image: url("../../images/gamePower/allPic.png"); background-position: -450px -150px; cursor: pointer; }
#p9 { background-image: url("../../images/gamePower/allPic.png"); background-position: -600px -150px; cursor: pointer; }
#hstart {
	cursor: pointer;
	width: 221px;
	height: 68px;
	margin-top: 180px;
	margin-left: 345px;
	float: left;
	background: url("../../images/gamePower/allPic.png") no-repeat;
	background-position: -560px -305px;
}
#hstart:hover {
	background: url("../../images/gamePower/allPic.png") no-repeat;
	background-position: -560px -375px;
}
#hstartGame {
	width: 935px;
	height: 617px;
	background: url("../../images/gamePower/hstartGame.png") no-repeat;
	display: none;
}
#gameContent {
	width: 600px;
	height: 600px;
	left: 50px;
	top: 8px;
	border: 2px black solid;
	position: relative;
}
.r1 { width: 597px;	height: 197px; margin-left: 1px; margin-top: 2px; }
.r2 { width: 597px;	height: 197px; margin-left: 1px; margin-top: 1px; }
.r3 { width: 597px;	height: 197px; margin-left: 1px; margin-top: 1px; }
.c0 { width: 198px;	height: 198px; cursor: pointer; }
.c1 { width: 198px;	height: 198px; cursor: pointer; }
.c2 { width: 198px;	height: 198px; cursor: pointer; }
.c3 { width: 198px;	height: 198px; cursor: pointer; }
.c4 { width: 198px;	height: 198px; cursor: pointer; }
.c5 { width: 198px;	height: 198px; cursor: pointer; }
.c6 { width: 198px;	height: 198px; cursor: pointer; }
.c7 { width: 198px;	height: 198px; cursor: pointer; }
.c8 { width: 198px;	height: 198px; cursor: pointer; }
#timing {
	left: 755px;
	top: 460px;
	font-size: 45px;
	position: absolute;
}
#original {
	width: 150px;
	height: 150px;
	left: 755px;
	top: 180px;
	font-size: 45px;
	position: absolute;
}
#hagain {
	cursor: pointer;
	width: 221px;
	height: 68px;
	top: 370px;
	left: 725px;
	background: url("../../images/gamePower/allPic.png") no-repeat;
	background-position: -560px -450px;
	position: absolute;
	display: none;
}
#hagain:hover {
	width: 246px;
	height: 81px;
	background: url("../../images/gamePower/allPic.png") no-repeat;
	background-position: -560px -520px;
}
#finish {
	width: 539px;
	height: 235px;
	top: 460px;
	left: 125px;
	background-image: url("../../images/gamePower/allPic.png"); 
	background-position: 0px -350px;
	position: absolute;
	display: none;
}

/*/////////////////////////////cover/////////////////////////////////////////*/
#cover {
	width: 935px;
	height: 617px;
	background-image: url("../../images/gamePower/cover.png");
}

#start {
	cursor: pointer;
	width: 246px;
	height: 81px;
	margin-top: 450px;
	margin-left: 180px;
	float: left;
	background: url("../../images/gamePower/button.png") no-repeat;
	background-position: 0px 0px;
}
#start:hover {
	background: url("../../images/gamePower/button.png") no-repeat;
	background-position: -250px 0px;
}


/*/////////////////////////////introduction/////////////////////////////////////////*/
#intro {
	cursor: pointer;
	width: 246px;
	height: 81px;
	margin-top: 450px;
	margin-right: 180px;
	float: right;
	background: url("../../images/gamePower/button.png") no-repeat;
	background-position: 0px -85px;
}
#intro:hover {
	background: url("../../images/gamePower/button.png") no-repeat;
	background-position: -250px -85px;
}
#introduction {
	width: 776px;
	height: 463px;
	top: 80px;
	margin: center;
	position: relative;
	background-image: url("../../images/gamePower/introduction.png");
	display: none;
}

/*/////////////////////////////startGame/////////////////////////////////////////*/
#startGame {
	width: 935px;
	height: 617px;
	background-image: url("../../images/gamePower/startGame.png");
	font-size: 35px;
	position: relative;
	display: none;
}

#question {
	width: 92%;
	height: 25%;
	top: 5%;
	border-bottom: 3px #F8E566 solid;
	margin: 0 auto;
	position: relative;
}

.base {
	margin-left: 5%;
	width: 90%;
	height: 8%;
	border-radius: 15px;
}

.base:hover {
	background: #F8E566;
}

.target{
	background: #F8E566;
}

#qa {
	cursor: pointer;
	top: 7%;
	position: relative;
}
#qb {
	cursor: pointer;
	top: 8%;
	position: relative;
}
#qc {
	cursor: pointer;
	top: 9%;
	position: relative;
}
#qd {
	cursor: pointer;
	top: 10%;
	position: relative;
}

#correctAns {
	width: 90%;
	text-align: center;
	margin-left: 5%;
	margin-top: 80px;
	font-size: 33px;
	font-weight: bold;
	background-color: #F8E566;
	color: saddlebrown;
	border-radius: 15px;
	display: none;
}

#next {
	cursor: pointer;
	width: 194px;
	height: 81px;
	margin-top: 15px;
	margin-left: 340px;
	background: url("../../images/gamePower/button.png") no-repeat;
	background-position: -500px 0px;
	display: none;
}
#next:hover {
	width: 194px;
	height: 81px;
	background: url("../../images/gamePower/button.png") no-repeat;
	background-position: -750px 0px;
}

/*/////////////////////////////endScreen/////////////////////////////////////////*/
#endScreen {
	width: 935px;
	height: 617px;
	background-image: url("../../images/gamePower/endScreen.png");
	text-align: center;
	display: none;
}
#getPower {
	width: 50%;
	top: 100px;
	font-family: "微軟正黑體";
	font-weight: bolder ;
	color: gray;
	margin: 0 auto;
	font-size: 25px;
	position: relative;
}

#power {
	margin-top: 150px;
	margin-left: 60px;
}
#again {
	cursor: pointer;
	width: 246px;
	height: 81px;
	bottom: 140px;
	left: 385px;
	background: url("../../images/gamePower/button.png") no-repeat;
	background-position: -500px -85px;
	position: absolute;
}
#again:hover {
	width: 246px;
	height: 81px;
	background: url("../../images/gamePower/button.png") no-repeat;
	background-position: -750px -85px;
}