/*/////////////////////////////cover/////////////////////////////////////////*/
#cover {
	width: 935px;
	height: 617px;
	background-image: url("../../images/gameSnake/cover.png");
}
.choice {
	width: 100%;
	height: 45%;	
	position: relative;
}
#start {
	margin-top: 200px;
	text-align: center;
}

/*/////////////Difficult//////////////////////*/
.Difficult {
	margin-top: 220px;
	float: left;
	width: 50%;
}
#difficulty1 {
	width: 45%;
	height: 56px;	
	margin-top: 20px;
}
#difficulty2 {
	width: 45%;
	height: 56px;
	margin-top: 20px;
	
}
#difficulty3 {
	width: 45%;
	height: 56px;
	margin-top: 20px;
}

/*/////////////Mode//////////////////////*/
.Mode {
	margin-top: 220px;
	float: left;
	width: 50%;
}
#mode1 {
	width: 45%;
	height: 56px;
	margin-top: 20px;
}
#mode2 {
	width: 45%;
	height: 56px;
	margin-top: 20px;
}
#mode3 {
	width: 45%;
	height: 56px;
	margin-top: 20px;
}

/*/////////////////////////////content/////////////////////////////////////////*/
#content {	
	width: 935px;
	height: 617px;
	background-image: url("../../images/gameSnake/content.png");
	display: none;
}
#snakeContent {
	width: 920px;
	height: 610px;
	top: 8px;
	left: 8px;
	border: 3px green solid; /*gray solid*/
	position: relative;
}
.block {
	border: 1px gray solid; /*gray solid*/
	width: 32px;
	height: 20px;
}
#bomb {
	position: absolute;
}
#snakehead { position: absolute;
z-index: 100;
margin-top: -5px;
margin-left: -9px; }
#snakebody { position: absolute; }
#red { position: absolute;	 }
#yellow { position: absolute;	 }
#green { position: absolute;	 }
#brown { position: absolute;	 }
#purple { position: absolute;	 }
#blue { position: absolute;	 }
#muliticolor { position: absolute; }
#bomb { position: absolute; }
#bomb1 { position: absolute; }
#bomb2 { position: absolute; }
#bomb3 { position: absolute; }
#exbomb { position: absolute; }
#brokenBody { position: absolute; }

/*/////////////////////////////endScreen/////////////////////////////////////////*/
#endScreen {
	width: 935px;
	height: 617px;
	text-align: center;
	background-image: url("../../images/gameSnake/endScreen.png");
	display: none;
}
#score {
	text-align: center;
	top: 330px;	
	position: relative;
}
#again {
	margin-top: 340px;
	position: relative;
}