/*/////////////////////////////cover/////////////////////////////////////////*/
#cover {
	width: 935px;
	height: 617px;
	background-image: url("../../images/gameSnake/cover.png");
}
.choice {
	width: 100%;
	height: 45%;	
	position: relative;
}

/*/////////////Difficult//////////////////////*/
.Difficult {
	margin-top: 200px;
	float: left;
	width: 50%;
}
.difficulty1 {
	cursor: pointer;
	width: 254px;
	height: 66px;	
	margin-top: 20px;
	background: url("../../images/gameSnake/d1.png") no-repeat;
}
.difficulty1:hover {
	background: url("../../images/gameSnake/d1Click.png") no-repeat;
}
.difficulty1Click {
	background: url("../../images/gameSnake/d1Click.png") no-repeat;
}
.difficulty2 {
	cursor: pointer;
	width: 254px;
	height: 66px;
	margin-top: 20px;
	background: url("../../images/gameSnake/d2.png") no-repeat;
}
.difficulty2:hover {
	background: url("../../images/gameSnake/d2Click.png") no-repeat;
}
.difficulty2Click {
	background: url("../../images/gameSnake/d2Click.png") no-repeat;
}
.difficulty3 {
	cursor: pointer;
	width: 254px;
	height: 66px;
	margin-top: 20px;
	background: url("../../images/gameSnake/d3.png") no-repeat;
}
.difficulty3:hover {
	background: url("../../images/gameSnake/d3Click.png") no-repeat;
}
.difficulty3Click {
	background: url("../../images/gameSnake/d3Click.png") no-repeat;
}
#start {
	cursor: pointer;
	width: 304px;
	height: 95px;
	margin-top: 20px;
	background: url("../../images/gameSnake/start.png") no-repeat;
}
#start:hover {
	background: url("../../images/gameSnake/startClick.png") no-repeat;
}
/*/////////////Mode//////////////////////*/
.Mode {
	margin-top: 200px;
	float: left;
	width: 50%;
}
.mode1 {
	cursor: pointer;
	width: 254px;
	height: 66px;
	margin-top: 20px;
	background: url("../../images/gameSnake/m1.png") no-repeat;
}
.mode1:hover {
	background: url("../../images/gameSnake/m1Click.png") no-repeat;
}
.mode1Click {
	background: url("../../images/gameSnake/m1Click.png") no-repeat;
}
.mode2 {
	cursor: pointer;
	width: 254px;
	height: 66px;
	margin-top: 20px;
	background: url("../../images/gameSnake/m2.png") no-repeat;
}
.mode2:hover {
	background: url("../../images/gameSnake/m2Click.png") no-repeat;
}
.mode2Click {
	background: url("../../images/gameSnake/m2Click.png") no-repeat;
}
.mode3 {
	cursor: pointer;
	width: 254px;
	height: 66px;
	margin-top: 20px;
	background: url("../../images/gameSnake/m3.png") no-repeat;
}
.mode3:hover {
	background: url("../../images/gameSnake/m3Click.png") no-repeat;
}
.mode3Click {
	background: url("../../images/gameSnake/m3Click.png") no-repeat;
}
.intro {
	cursor: pointer;
	width: 304px;
	height: 95px;
	margin-top: 20px;
	background: url("../../images/gameSnake/intro.png") no-repeat;
}
.intro:hover {
	background: url("../../images/gameSnake/introClick.png") no-repeat;
}
.introClick {
	background: url("../../images/gameSnake/introClick.png") no-repeat;
}
#introduction {
	width: 776px;
	height: 463px;
	top: 80px;
	margin: center;
	position: relative;
	background-image: url("../../images/gameSnake/introduction.png");
	display: none;
}

/*/////////////////////////////content/////////////////////////////////////////*/
#content {	
	width: 935px;
	height: 617px;
	background-image: url("../../images/gameSnake/content.png");
	display: none;
}

#space {
	width: 935px;
	height: 95px;
	top: 380px;
	position: absolute;
	background: url("../../images/gameSnake/space.png") no-repeat;
}

#snakeContent {
	width: 925px;
	height: 615px;
	top: 1px;
	left: 5px;
	border: 3px green solid; /*gray solid*/
	position: relative;
}
.block {
	border: 1px; /*gray solid*/
	width: 32px;
	height: 20px;
}
#head { 
	z-index: 100;
}

.allPicture { 
	position: absolute; 
	margin-top: -18px;
}
/*/////////////////////////////endScreen/////////////////////////////////////////*/
#endScreen {
	width: 935px;
	height: 617px;
	text-align: center;
	background-image: url("../../images/gameSnake/endScreen.png");
	display: none;
}
#score {
	width: 50%;
	height: 10%;
	top: 330px;
	margin: 0 auto;
	font-family: "微軟正黑體";
	position: relative;
}
#again {
	cursor: pointer;
	height: 150px;
	width:305px;
	margin-top: 340px;
	left: 12%;
	float: left;
	position: relative;
	background: url("../../images/gameSnake/again.png") no-repeat;
}
#again:hover {
	height: 150px;
	width:305px;
	background: url("../../images/gameSnake/againClick.png") no-repeat;
}

/*/////////////ranking//////////////////////*/
#rankButton {
	cursor: pointer;
	height: 145px;
	width:306px;
	margin-top: 340px;
	left: 23%;
	float: left;
	position: relative;
	background: url("../../images/gameSnake/rank.png") no-repeat;
}
#rankButton:hover {
	height: 145px;
	width:306px;
	background: url("../../images/gameSnake/rankClick.png") no-repeat;
}
#rankBack {
	width: 935px;
	height: 617px;
	margin: center;
	text-align: center;
	font-size: 25px;
	font-family: "微軟正黑體";
	background: url("../../images/gameSnake/rankBackground.png") no-repeat;
	display: none;
}
.spin
{
	top: 400px;
	left: 415px;
	position: absolute;
 	background: white; /* outline */
 	z-index: 10;
  	> *
  	{
  		background: #EEE; /* hand */
 	}
}
#cross {
	cursor: pointer;
	height: 46px;
	width: 46px;
	top: 130px;
	left: 920px;
	float: right;
	position: absolute;
	background: url("../../images/gameSnake/cross.png") no-repeat;
}
#cross:hover {
	height: 46px;
	width: 46px;
	background: url("../../images/gameSnake/crossClick.png") no-repeat;
}
.rankMode {
	width: 95%;
	top: 110px;
	top: 85px;
	margin: 0 auto;
	position: relative;
}
.rM1 {
	cursor: pointer;
	height: 90px;
	width: 263px;
	margin-left: 25px;
	float:left;
	background: url("../../images/gameSnake/rm1.png") no-repeat;
} 
.rM1:hover {
	background: url("../../images/gameSnake/rm1Click.png") no-repeat;
} 
.rM1Click {
	background: url("../../images/gameSnake/rm1Click.png") no-repeat;
} 
.rM2 {
	cursor: pointer;
	height: 90px;
	width: 263px;
	margin-left: 25px;
	float:left;
	background: url("../../images/gameSnake/rm2.png") no-repeat;
}
.rM2:hover {
	background: url("../../images/gameSnake/rm2Click.png") no-repeat;
} 
.rM2Click {
	background: url("../../images/gameSnake/rm2Click.png") no-repeat;
} 
.rM3 {
	cursor: pointer;
	height: 90px;
	width: 263px;
	margin-left: 25px;
	float:left;
	background: url("../../images/gameSnake/rm3.png") no-repeat;
}
.rM3:hover {
	background: url("../../images/gameSnake/rm3Click.png") no-repeat;
} 
.rM3Click {
	background: url("../../images/gameSnake/rm3Click.png") no-repeat;
} 
#ranking {
	width: 95%;
	height: 68.5%;
	top: 85px;
	margin: 0 auto;
	position: relative;
}
.top {
	margin-left: 40px;
}
.title {
	border-bottom: 5px #D6D6D6 solid;
	margin-bottom: 3px;
}
