/*/////////////////////////////cover/////////////////////////////////////////*/
#cover {
	width: 100%;
	text-align : center;
	background-image: url("../../images/gameSnake/cover.png");
	background-repeat: no-repeat;
}
.choice {
	width: 100%;
	height: 45%;
	top: 33%;
	position: relative;
}
#start {
	width: 35%;
	height: 15%;
	margin: 0px auto;
	text-align: center;
	background-color: #00DDDD;
}

/*/////////////Difficult//////////////////////*/
.Difficult {
	margin-top: 25%;
	float: left;
	width: 50%;
}
#difficulty1 {
	width: 45%;
	height: 15%;
	margin-top: 5%;
	
}
#difficulty2 {
	width: 45%;
	height: 15%;
	margin-top: 5%;
	
}
#difficulty3 {
	width: 45%;
	height: 15%;
	margin-top: 5%;
}

/*/////////////Mode//////////////////////*/
.Mode {
	margin-top: 25%;
	float: left;
	width: 50%;
}
#mode1 {
	width: 45%;
	height: 15%;
	margin-top: 5%;
}
#mode2 {
	width: 45%;
	height: 15%;
	margin-top: 5%;
}
#mode3 {
	width: 45%;
	height: 15%;
	margin-top: 5%;
}

/*/////////////////////////////content/////////////////////////////////////////*/
#content {	
	display: none;
}
#snakeContent {
	width: 100%;
	height: 800px;
	background-color: lightblue;
	position: relative;
}
.block {
	border: 1px gray solid; /*gray solid*/
	width: 34px;
	height: 26px;
}
#bomb {
	position: absolute;
}
#snakehead { position: absolute; }
#snakebody { position: absolute; }
#red { position: absolute;	 }
#yellow { position: absolute;	 }
#green { position: absolute;	 }
#brown { position: absolute;	 }
#purple { position: absolute;	 }
#blue { position: absolute;	 }
#muliticolor { position: absolute; }
#bomb { position: absolute; }
#bomb1 { position: absolute; }
#bomb2 { position: absolute; }
#bomb3 { position: absolute; }
#exbomb { position: absolute; }
#brokenBody { position: absolute; }

/*/////////////////////////////endScreen/////////////////////////////////////////*/
#endScreen {
	width: 100%;
	height: 800px;
	text-align: center;
	background-color: lightblue;
	display: none;
}
#squirrel {
	margin: 0px auto;
	top: 8%;
	position: relative;
}
#score {
	text-align: center;
	margin-top: 15%;
}
#again {
	margin-top: 8%;
}